<div class="animated pulse">
    <div class="modal-header-wrap">
        <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
        <div class="modal_mini_title">All Purpose Medical Information System</div>
    </div>

    <div class="modal-baseWrap">
        <div class="popupWrap">
            <div class="pd-popupHeader">
                <div class="headerContent">
                    <img class="pd-principalImg" src="assets/images/users/default.png">
                    <div class="pd-principalName">Samuel Davids</div>
                    <div class="pd-principalPhone">08099887766</div>
                </div>

                <div *ngIf="showFrmDependant" class="frmDependantWrap animated fadeIn">
                    <form [formGroup]="frmAddDepd" novalidate>
                        <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>
                        <div class="frm-item-wrap">
                            <input type="text" formControlName="dependant" placeholder="Dependant" autocomplete="off">
                        </div>
                        <div class="frm-item-wrap">
                            <select formControlName="relationship" (change)="onrelationshipChange($event.value)">
                                <option value="" disabled selected>Relationship</option>
                                <option value="Spouse">Spouse</option>
                                <option value="Father">Father</option>
                                <option value="Mother">Mother</option>
                                <option value="Brother">Brother</option>
                                <option value="Sister">Sister</option>
                                <option value="Uncle">Uncle</option>
                                <option value="Auntie">Auntie</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>

                        <div (click)="newDepd(frmAddDepd.valid, frmAddDepd.value)" class="cta-1">
                            ADD DEPENDANT
                        </div>

                    </form>
                </div>

                <div class="ctas">
                    <div (click)="frmDependantToggle()" class="addDependant">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <span>Add Dependant</span>
                    </div>
                    <div class="rmvEmp">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        <span>Remove</span>
                    </div>
                </div>
            </div>

            <div class="pd-popupDependants">
                <div class="popTitle">Dependants</div>
                <div class="pd-popupDependant">
                    <img class="pd-dependantImg" src="assets/images/users/default.png">
                    <div class="pd-dependantName">Samuel Davids</div>
                    <div class="pd-dependantPhone">08099887766</div>
                    <div class="rmvEmp">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        <span>Remove</span>
                    </div>
                </div>
                <div class="pd-popupDependant">
                    <img class="pd-dependantImg" src="assets/images/users/default.png">
                    <div class="pd-dependantName">Samuel Davids</div>
                    <div class="pd-dependantPhone">08099887766</div>
                    <div class="rmvEmp">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        <span>Remove</span>
                    </div>
                </div>
                <div class="pd-popupDependant">
                    <img class="pd-dependantImg" src="assets/images/users/default.png">
                    <div class="pd-dependantName">Samuel Davids</div>
                    <div class="pd-dependantPhone">08099887766</div>
                    <div class="rmvEmp">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        <span>Remove</span>
                    </div>
                </div>
                <div class="pd-popupDependant">
                    <img class="pd-dependantImg" src="assets/images/users/default.png">
                    <div class="pd-dependantName">Samuel Davids</div>
                    <div class="pd-dependantPhone">08099887766</div>
                    <div class="rmvEmp">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        <span>Remove</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>