@import "../../report-dashboard/laboratory-report/laboratory-report.component.scss";
@import "../../report-dashboard/clinic-management-report/clinic-attendance/clinic-attendance.component.scss";
.group {
    display: contents;
}

.group-content {
    display: contents;
    padding: 10px;
}

.group-item {
    padding-left: 10px;
    width: 20% !important;
}

.td-x {
    text-align: center;
}