// @import "../../../facility-page-home.component.scss";

td{
    padding: 4px;
}
.td-ctaWrap i {
    cursor: pointer;
    font-size: 2rem;
}
.modal-baseWrap{
    min-width: 800px;
    padding: 10px;
}
.sel-rap{
    width: 150px;
}
.input-x2-wrap{
    width: 100%;
    display: flex;
    justify-content: space-around;
}