<div class="r-main-wrap">
    <div class="reciept-wrap">
        <div class="r-header">
            <div class="r-facility">Continental Hospital</div>
            <div class="r-others">Plot 12 Adesua Adebisi Street</div>
            <div class="r-others">Ikeja Lagos</div>
        </div>

        <div class="r-mid-sect">
            <div class="r-lhs">
                <div class="r-others">Tel: 08032323212</div>
                <div class="r-others">Bill No: 3321AB</div>
            </div>
            <div class="r-rhs">
                <div class="r-others">Date: 11th March 2018</div>
                <div class="r-others">Time: 11:22am</div>
            </div>
        </div>

        <table cellpadding="0" cellspacing="0" border="0.5">
            <thead>
                <tr>
                    <th>
                        <span style="padding-left: 3px;">Product</span>
                    </th>
                    <th>
                        <span style="padding-left: 3px;">Qty</span>
                    </th>
                    <th>
                        <span style="padding-left: 3px;">Amount</span>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Panadol</td>
                    <td class="pointer">1 Pack</td>
                    <td class="pointer">&#x20A6;200</td>
                </tr>
                <tr>
                    <td>Gestid</td>
                    <td class="pointer">2 Cards</td>
                    <td class="pointer">&#x20A6;150</td>
                </tr>
                <tr>
                    <td>Diclofenac</td>
                    <td class="pointer">1 Pack</td>
                    <td class="pointer">&#x20A6;400</td>
                </tr>
                <tr>
                    <td>Insulin</td>
                    <td class="pointer">1 Bottle</td>
                    <td class="pointer">&#x20A6;300</td>
                </tr>
                <tr>
                    <td>Blood</td>
                    <td class="pointer">2 Paints</td>
                    <td class="pointer">&#x20A6;2000</td>
                </tr>
                <tr>
                    <td>Drip</td>
                    <td class="pointer">1 Bag</td>
                    <td class="pointer">&#x20A6;400</td>
                </tr>
            </tbody>
        </table>

        <div class="summary-wrap">
            <div class="summary-item">
                <div class="summary-item-label">No. of Items</div>
                <div class="summary-item-val">5</div>
            </div>
            <div class="summary-item">
                <div class="summary-item-label">Total Amount</div>
                <div class="summary-item-val">&#x20A6;5000</div>
            </div>
            <div class="summary-item">
                <div class="summary-item-label">Discount</div>
                <div class="summary-item-val">&#x20A6;300</div>
            </div>
            <div class="summary-item">
                <div class="summary-item-label">Amount Payable</div>
                <div class="summary-item-val-total">&#x20A6;4700</div>
            </div>
        </div>

        <div class="r-footers">
            <div class="foot-item">thanks for your patronage</div>
            <div class="foot-item">Powered by APMIS</div>
        </div>

        <div class="btns">
            <button class="cta-1" style="background:#32b32e;">Email</button>
            <button class="cta-1" style="background:#f59f2f;">Print</button>
        </div>
        <button style="width:90%;margin:0 auto;" routerLink="/dashboard/store/pos" class="cta-1">Back to POS</button>
    </div>
</div>