.search-person-input {
    font-size: 1.8rem;
    padding: 10px;
    border-radius: 20px;
    outline: 0;
    border: 1px solid #ccc;
    width: 100%;
}
.search-person-input:focus{
    border: 1px solid rgb(0, 160, 247) !important;
}
.search-person{
    position: relative;
    width: 300px;
}
.person-suggest-list {
    position: absolute;
    width: 107%;
    margin: 0 auto;
    background: #eee;
    border: 2px solid #fff;
    box-sizing: border-box;
    margin-top: 2px;
    border-radius: 9px;
    z-index: 1;
}
.selected-patient{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
}
.request-source {
    background: #96d364;
    padding: 5px 10px;
    -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
.suggested-img-wrap{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 100%;
    }
}
.suggested-wrap{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
.suggest-item{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 2px 0;
    border-bottom: 1px solid #ddd;
}
.suggest-item:hover{
    background: #ddd;
}
.grp-wrap{
    width: 100%;
}
.flex-em{
    display: flex;
    width: 100%;
    border: 1px solid #eee;
    margin-bottom: 20px;
    .pre-label-wrap{
        margin-right: 20px;
        margin-top: 20px;
    }
    .pre-label-wrap > div{
        margin-bottom: 10px;
    }
}
.suggested-label{
    margin-left: 5px;
}
.sect-wrapa{
    background: #fff;
    padding: 10px;
    margin-top: 10px;
}
.active-liner{
    margin-right: 2px;
    height: 1px;
    background: #84ee86;
    width: 60px;
}
.iv-lists{
    display: flex;
    flex-wrap: wrap;
}
.pre-label-wrap{
    margin-left: 60px;
    color: #96d364;
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-style: italic;
}
.pre-label-label{
    color: #777;
    font-style: normal;
}
.modality-list {
    width: 48%;
    margin-right: 10px;
    border-right: 2px solid #03A9F4;
    max-height: 400px;
    overflow-y: auto;
    padding-top: 10px;
}
.investigation-list{
    width: 50%;
    max-height: 400px;
    overflow-y: auto;
    padding-top: 10px;
}
.inner-search-wrap{
    input{
        width: 200px !important;
        margin-right: 10px;
    }
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.sec-title {
    font-size: 1.6rem;
    color: rgb(202, 102, 62);
}
.modality-item, .investigation-item {
    font-size: 1.2rem;
    padding: 9px;
    margin: 1px 0;
    border: 1px solid #eee;
    cursor: pointer;
    i{
        display: none;
        color: #03A9F4;
        font-size: 1.6rem;
        margin-right: 5px;
    }
}
.modality-item:hover, .modality-item-active{
    background: #03A9F4;
    border: 1px solid rgb(3, 147, 214);
}
.investigation-item:hover{
    border: 1px solid #03A9F4 !important;
}
.investigation-item-active{
    border: 1px solid #03A9F4 !important;
    color: #1a58a5 !important;
    i{
        display: inline-block;
    }
}
.tbl-resp-wrap{
    margin-top: 40px;
}
.workspace-tbl{
    margin-top: 10px;
}
.i-action{
    cursor: pointer;
    font-size: 1.5rem;
}
.top-wrap{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.btn-1{
    height: auto !important;
}
.btn-wrap{
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.groupy {
    font-size: 1.4rem;
    color: rgb(184, 134, 11);
    cursor: pointer;
    padding: 5px;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    i{
        font-size: 1.8rem;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #1a58a5;
        color: #fff;
        border-radius: 100%;
    }
}
.groupy:hover{
    background: #f2f2f2;
}
.group-list{
    padding-left: 30px;
}
.user-more {
    color: #0288D1;
    cursor: pointer;
    margin-top: 4px;
    margin-left: 20px;
}
.user-more:hover{
    border-bottom: 1px solid #0288D1;
}