<div class="sch-wrap">
  <div class="searchproduct">
    <div class="InputGroup">
      <input class="customInput" type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label class="customLabel"><i class="fa fa-search" aria-hidden="true"></i>Search Customer Name / APMIS ID /
        Invoice No.</label>
      <!-- <ul class="search-sugestions">
        <li class="search-sugestion"></li>
      </ul> -->
    </div>
  </div>
</div>

<div class="div-space"></div>

<div class="cus-details">
  <div class="detail-cont">
    <span>Customer: </span>
    <a>Omoike Sarah Igho</a>
  </div>
  <div class="detail-cont">
    <span>Priscription Date: </span>
    <a>24/11/2018</a>
  </div>
  <div class="detail-cont">
    <span>Gender: </span>
    <a>Female</a>
  </div>
</div>


<div class="store-table" style="margin-top: 20px;">
  <div class="store-thead">
    <div class="store-tr">
      <div class="store-th store-td-actions">
        <input type="checkbox">
      </div>
      <div class="config-tr-in in-tr">
        <div class="store-th">Products</div>
        <div class="store-th">QUANTITY</div>
        <div class="store-th">UNIT PRICE</div>
        <div class="store-th">Amount</div>
      </div>
      <div class="store-th store-td-actions"></div>
    </div>
  </div>

  <div class="store-tbody">
    <div class="store-pre-tr">
      <div class="store-tr">
        <div class="store-td store-td-actions">
          <input type="checkbox">
        </div>
        <div class="config-tr-in in-tr">
          <div class="store-td">Medroxyprogesterone acetate 10 MG Oral Tablet [Curretab]</div>
          <div class="store-td">5 Packs</div>
          <div class="store-td"> #10/Pack </div>
          <div class="store-td">#20,000</div>
        </div>
        <div class="store-td store-td-actions">
          <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        </div>
      </div>
      <div class="store-tr">
        <div class="store-td store-td-actions">
          <input type="checkbox">
        </div>
        <div class="config-tr-in in-tr">
          <div class="store-td">Medroxyprogesterone acetate 10 MG Oral Tablet [Curretab]</div>
          <div class="store-td">5 Packs</div>
          <div class="store-td"> #10/Pack </div>
          <div class="store-td">#20,000</div>
        </div>
        <div class="store-td store-td-actions">
          <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        </div>
      </div>
      <div class="store-tr">
        <div class="store-td store-td-actions">
          <input type="checkbox">
        </div>
        <div class="config-tr-in in-tr">
          <div class="store-td">Medroxyprogesterone acetate 10 MG Oral Tablet [Curretab]</div>
          <div class="store-td">5 Packs</div>
          <div class="store-td"> #10/Pack </div>
          <div class="store-td">#20,000</div>
        </div>
        <div class="store-td store-td-actions">
          <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        </div>
      </div>
      <div class="store-tr">
        <div class="store-td store-td-actions">
        </div>
        <div class="amt-summ">
          <div class="summ">
            <span>SUB TOTAL:</span>
            <a>#350,000</a>
          </div>
          <div class="summ">
            <span>VAT (20%):</span>
            <a>#70,000</a>
          </div>
          <div class="summ">
            <span>DISCOUNT:</span>
            <a>#2,000</a>
          </div>
          <br>
          <div class="summ">
            <span>AMOUNT RECEIVED:</span>
            <a>#300,000</a>
          </div>
        </div>
        <div class="store-td store-td-actions">
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="btm-wrap">
  <div class="dwnld">
    <h4>Download as:</h4>
    <div class="action-pad">
      <div class="btnBlue">
        <span>CSV</span>
      </div>
    </div>
    <div class="action-pad">
      <div class="btnBlue">
        <span>PDF</span>
      </div>
    </div>
    <div class="action-pad">
      <div class="btnBlue">
        <span>Print</span>
      </div>
    </div>
  </div>
  <div class="dwnld">
    <h4>Save as:</h4>
    <div class="action-pad">
      <div class="btnBlue">
        <i class="fa fa-floppy-o" aria-hidden="true"></i>
        <span>Draft</span>
      </div>
    </div>
  </div>
</div>