//@import "./../prescribe-drug/prescribe-drug.component.scss";
//@import "app/system-modules/module-menu/patient-manager/patientmanager-detailpage/new-patient-prescription/prescribe-drug/prescribe-drug.component.scss";

.green {
  color: #0AD089;
}

.con-list-wrap {
  display: block;
  box-sizing: border-box;
  margin-bottom: 5px;

  h3 {
    font-weight: bold;
    line-height: normal;
    color: #0288D1;
    padding: 5px;
    font-size: 12px;
    padding-left: 20px !important;
  }
}

.list {
  padding: 15px 15px 15px 20px !important;
  border-top: 1px solid #ddd;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
.custom-chk{
  display: none;
}

.list:hover {
  background: rgba(166, 218, 255, 0.082);
  font-weight: bold;
  cursor: pointer;
  .custom-chk{
    display: block;
    align-items: center;
    align-content: center;
    label{
      color: #0288D1;
      font-size: 10px;
    }
  }
}

.searchWrap {
//   display: grid;
  align-content: center;
  border: 1px solid #ddd;

}

.btm {
    border-top: #ddd;
    justify-items: center;
    justify-content: center;
    display: flex;
}

.cls-btn {
  width: 80px;
  padding: 5px;
  border: 1px solid black;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  align-self: center;
  font-weight: 12px;
  margin: 10px;
}
