.mat-raised-button {
    max-width: 200px;
    text-align: center;
    background: #0288D1;
    color: #fff;
}

#button-cover {
    text-align: center;
}

.big-btn {
    text-align: center;
    width: 400px;
    margin: 0 auto;
    padding: 12px 20px;
    margin: 5px 0;
    border-radius: 25px;
}

.small-btn {
    border-radius: 25px;
    width: 104px;
    color: #fff;
}