@import "../../../globals/variables.scss";

// .userAcc-mainWrap{
//     position: fixed;
//     min-height:100vh;
//     background: darken($primaryColor, 5%);
//     width:100%;
// }
.userAcc-mainWrap {
    position: fixed;
    min-height: 100vh;
    // background: linear-gradient(0deg, rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0.90)), url(../../../assets/images/bg/hospital.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    z-index: 10;
    background-color: #133e4a;
}

.userAccs-pgHeader {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
    font-family: $font-titles;
}

.userAccs-pgHeader img {
    width: 70px;
    margin-top: 50px;
}

.userAccs-pgTitle {
    font-size: 2.1rem;
    color: #e8e8e8;
}

.userAccs-listingWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.listing-title {
    font-size: 1.6rem;
    color: #fff;
    margin-bottom: 30px;
}

.userAccs-listing {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
    border-top: 2px solid #fff;
}

.acc-listing {
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 10px;
    cursor: pointer;
    box-sizing: border-box;
    padding-top: 15px;
    border: 1px solid #aaa;
}

.acc-listing:hover {
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #4bb8ef;
}

.listing-imgWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: rgba(221, 221, 221, 0.6);
    margin: 0 auto;
}

.listing-imgWrap img {
    width: 100%;
}

.listing-name {
    font-size: 1.6rem;
    color: #fff;
    margin-top: 5px;
}

.listing-type {
    font-size: 1.2rem;
    color: #4bb8ef;
    margin-top: 5px;
}

.loggedinUserWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.4rem;
    color: #fff;
    padding: 10px;
}

.loggedinUser_user {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.loggedinUser_user:hover {
    text-decoration: underline;
}

.loggedinUserWrap img {
    width: 30px;
    border-radius: 100%;
    margin-right: 10px;
}

.logoutLink {
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
}

.logoutLink:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 530px) {
    .acc-listing {
        width: auto;
        height: auto;
        padding-top: 0;
        border: 0px;
    }

    .loggedinUserWrap {
        top: -2px;
        right: 0px;
        font-size: 1.1rem;
    }

    .userAccs-pgTitle {
        font-size: 1.6rem;
    }

    .listing-imgWrap {
        width: 30px;
        height: 30px;
    }

    .listing-name {
        font-size: 1.2rem;
        max-width: 70px;
        text-align: center;
        margin: 0 auto;
    }

    .listing-type {
        font-size: 1.2rem;
        color: #eee000;
        margin-top: 5px;
    }

    .f_sg3 input {
        border-bottom: 0px;
    }
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}