.frm-item-wrap {
    text-align: center;
}

.user-privileges-modal {
    margin-bottom: 20px;
}

.cta-1 {
    font-size: 1.4rem;
}

.modal-baseWrap {
    width: 300px;
}

.example-full-width {
    margin-top: 3px;
}

.btn-saveroles {
    color: white;
}