<div class="animated pulse">
    <div class="modal-header-wrap">
        <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
        <legend class="modal_title">Password Reset</legend>
        <div class="modal_mini_title">All Purpose Medical Information System</div>
    </div>

    <div class="modal-baseWrap">
        <div *ngIf="modal1_show && showInfo" class="infoAlert">
            <i class="fa fa-info-circle" aria-hidden="true"></i>Note that a verification token will be sent to the number supplied below</div>
        <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>

        <div *ngIf="modal1_show" class="f_sg_1">

            <form [formGroup]="frm_pwdReset1" novalidate>

                <div class="frm-item-wrap">
                    <mat-input-container class="example-full-width">
                        <input matInput mat-error placeholder="Apmis ID" formControlName="apmisid" [(ngModel)]="input_apmisid">
                    </mat-input-container>
                </div>

                <!-- <div class="frm-item-wrap">
                    <mat-input-container class="example-full-width">
                        <input type="email" matInput mat-error placeholder="Registered Email Address" formControlName="email" [(ngModel)]="input_email">
                    </mat-input-container>
                </div> -->

                <div class="frm-item-wrap" style="margin-bottom: 15px;">
                    <mat-input-container class="example-full-width">
                        <input type="tel" matInput mat-error placeholder="Registered Phone Number" formControlName="phoneNo" [(ngModel)]="input_phoneNo">
                    </mat-input-container>
                </div>

                <div class="back-btn-box">
                    <span (click)="login()" class="forgetPword">Log In</span>
                </div>

                <div class="btn-box">
                    <button class="small-btn" [disabled]="!frm_pwdReset1.valid" (click)="verify(frm_pwdReset1.valid, frm_pwdReset1.value);" mat-raised-button>Send Token</button>
                </div>
                <!-- <div (click)="verify(frm_pwdReset1.valid, frm_pwdReset1.value)" class="cta-1">
        Send Token
      </div> -->

            </form>
        </div>

        <div *ngIf="modal2_show" class="f_sg_1">

            <form [formGroup]="frm_pwdReset2" novalidate>

                <div class="frm-item-wrap">
                    <mat-input-container class="example-full-width">
                        <input matInput mat-error placeholder="Verification Token" formControlName="token" [(ngModel)]="input_token" autocomplete="off">
                    </mat-input-container>
                </div>

                <div class="frm-item-wrap">
                    <mat-input-container class="example-full-width">
                        <input type="password" matInput mat-error placeholder="New Password" formControlName="password" [(ngModel)]="input_password"
                            autocomplete="off">
                        <mat-error *ngIf="frm_pwdReset2.controls.password.hasError('required')">
                            Please enter new password
                        </mat-error>
                        <mat-error *ngIf="frm_pwdReset2.controls.cpassword.hasError('minlength')">
                            New password must at lease be
                            <strong>7 characters</strong>
                        </mat-error>
                    </mat-input-container>
                </div>

                <div class="frm-item-wrap" style="margin-bottom: 15px;">
                    <mat-input-container class="example-full-width">
                        <input type="password" matInput mat-error placeholder="Confirm Password" formControlName="cpassword" [(ngModel)]="input_repassword"
                            autocomplete="off">
                        <mat-error *ngIf="!frm_pwdReset2.controls.cpassword.valid">
                            Password did not match
                        </mat-error>
                    </mat-input-container>
                </div>

                <div class="back-btn-box">
                    <span (click)="login()" class="forgetPword">Log In</span>
                </div>

                <div class="back-btn-box">
                    <span (click)="back_resetFrm1()" class="backBtn">
                        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Go Back</span>
                </div>

                <div class="btn-box">
                    <button class="small-btn" [disabled]="!frm_pwdReset2.valid" (click)="reset(frm_pwdReset2.valid, frm_pwdReset2.value);" mat-raised-button>Reset Password</button>
                </div>
                <!-- <div (click)="reset(frm_pwdReset2.valid, frm_pwdReset2.value)" class="cta-1">
        Reset Password
      </div> -->

            </form>
        </div>
    </div>
</div>