<div class="modal-baseWrap">
    <div class="row">
        <div class="col-md-4">
            <form [formGroup]="paymentFormGroup">
                <div class="frm-item-wrap">
                    <mat-input-container>
                        <input type="number" matInput placeholder="Enter amount e.g. &#x20a6;500" formControlName="fundAmount">
                    </mat-input-container>
                </div>
                <div class="frm-item-wrap">
                    <mat-form-field>
                        <mat-select formControlName="paymentType" placeholder="Payment Type" class="mat-select">
                            <mat-option *ngFor="let paymentChannel of paymentChannels" [(value)]="paymentChannel.name"> {{ paymentChannel.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </form>
            <br>
            <div class="epayment-box">
                <div *ngIf="flutterwavePayment">
                    <angular-4-flutterwave [amount]="paymentFormGroup.controls['fundAmount'].value" [customer_email]="(patient.personDetails.email===undefined)?patient.personDetails.apmisId+'@apmis.ng':patient.personDetails.email" [PBFPubKey]="flutterwaveClientKey" [txref]="refKey" [currency]="'NGN'" [country]="'NG'" [payment_method]="'card'" [custom_title]="'APMIS'"
                        [btnColor]="'btn-blue'" [custom_description]="" [exclude_banks]="" (close)="paymentCancel();" (callback)="paymentDone($event);"></angular-4-flutterwave>
                </div>
                <div *ngIf="paystackPayment">
                    <angular4-paystack [key]="paystackClientKey" [email]="(patient.personDetails.email===undefined)?patient.personDetails.apmisId+'@apmis.ng':patient.personDetails.email" [amount]="paymentFormGroup.controls[ 'fundAmount'].value*100" [ref]="refKey" [class]=" 'btn btn-primary btn-medium btn-blue' " (close)="paymentCancel() " (callback)="paymentDone($event) ">Paystack</angular4-paystack>
                </div>
                <div *ngIf="cashPayment">
                    <button (click)="fundWalletViaCashPayment(paymentFormGroup.valid, paymentFormGroup.value); " [disabled]="disableBtn " class="btn btn-primary ">
                      <span *ngIf="cashPaymentPay ">Pay</span>
                      <span *ngIf="cashPaymentPaying ">Paying... <i class="fa fa-spinner fa-spin "></i></span>
                    </button>
                </div>
            </div>
            <!-- <button mat-raised-button style="width:100%; padding: 10px; color:#fff; margin-left:10px;"> Pay </button> -->
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-xs-1">
                    <h4 style="color: grey">S/N</h4>
                </div>
                <div class="col-xs-7">
                    <h4 style="color: grey">Description</h4>
                </div>
                <div class="col-xs-2">
                    <h4 style="color: grey">Status</h4>
                </div>
                <div class="col-xs-2">
                    <h4 style="color: grey">Amount</h4>
                </div>
            </div>
            <div class="row" *ngFor="let transaction of transactions; let i=index;">
                <div class="col-xs-1">
                    <h2>{{ i+1 }}</h2>
                </div>
                <div class="col-xs-7">
                    <h2>{{ transaction?.description }}</h2>
                </div>
                <div class="col-xs-2">
                    <h2 style="color: {{ transaction.transactionType === 'Dr' ? ' red ': ' green ' }}">{{ transaction?.transactionType }}</h2>
                </div>
                <div class="col-xs-2">
                    <h2>{{ transaction?.amount }}</h2>
                </div>
            </div>
        </div>

    </div>
</div>