<ul class="pg-menuWrap">
	<li (click)="changeRoute('home')" [class.pg-menuActive]="homeContentArea">Home</li>
	<li (click)="changeRoute('store')" [class.pg-menuActive]="storeContentArea">Stores</li>
	<li (click)="changeRoute('product')" [class.pg-menuActive]="productContentArea">Product</li>
	<li (click)="changeRoute('productEntry')" [class.pg-menuActive]="productEntryContentArea">Product Entry</li> 
	<li (click)="changeRoute('product-movement')" [class.pg-menuActive]="productMovementContentArea">Product Movement</li>
	<li (click)="changeRoute('productExit')" [class.pg-menuActive]="productExitContentArea">Product Exit</li>
</ul>  

<div class="pg-ct-wrap">
  <router-outlet></router-outlet>
</div> 
