@import "../../daily-gmp/new-gmp-entry/new-gmp-entry.component.scss";

.section_border{
    border-left: 1px solid gray;
    padding-right: 5px;
    max-width: 120px;
}
.section_width{
    min-width: 150px;
max-width: 500px;
}

.full_width{
    width: 100%;
    min-height: 40px;
}
.modal_padding{
    padding-left: 40px;
    padding-top: 15px;
}
