@import "../new-opd-entry/new-opd-entry.component.scss";

.form_entry {
    max-width: 100px;
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 1.2rem !important;
    width:100%;   
  }
  mat-form-field-input{
      font-size: 1.2rem !important;
  }

  mat-tab-body-content {
    height: 100%;
    overflow: hidden;
}

