<!-- <div class="headers headers2">
  <div class="block-title2">{{minorLocation.name}}</div>

  <div class="unit-ico-wrap">
    <div class="btn-1 btn-red"><i class="fa fa-trash" aria-hidden="true"></i> Delete Sub-Location</div>
  </div>
</div>

<div>
  <div class="dataMix-wrap color1">
    <div class="display-flex">
      <div class="lhs">Name</div>
      <div class="rhs">
        <div [hidden]="sublocEditNameIcoShow" class="lhs"> {{minorLocation.name}} </div>
        <mat-input-container *ngIf="sublocEditNameIcoShow" class="example-full-width">
          <input matInput value="{{minorLocation.name}}" [formControl]="sublocNameEdit">
        </mat-input-container>
        <i [hidden]="sublocEditNameIcoShow" (click)="sublocEditNameToggle()" class="edit-ico fa fa-pencil-square-o" aria-hidden="true"></i>
        <i *ngIf="sublocEditNameIcoShow" (click)="sublocEditNameSubmit()" class="done-ico fa fa-check" aria-hidden="true"></i>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <div class="dataMix-wrap color2">
    <div class="display-flex">
      <div class="lhs">Short Name</div>
      <div class="rhs">
        <div [hidden]="sublocEditShortNameIcoShow" class="lhs"> {{minorLocation.shortName}} </div>
        <mat-input-container *ngIf="sublocEditShortNameIcoShow" class="example-full-width">
          <input matInput value="{{minorLocation.shortName}}" [formControl]="sublocshortNameEdit">
        </mat-input-container>
        <i [hidden]="sublocEditShortNameIcoShow" (click)="sublocEditShortNameToggle()" class="edit-ico fa fa-pencil-square-o" aria-hidden="true"></i>
        <i *ngIf="sublocEditShortNameIcoShow" (click)="sublocEditShortNameSubmit()" class="done-ico fa fa-check" aria-hidden="true"></i>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<div class="dataMix-wrap color1">
  <div class="display-flex">
    <div class="lhs">Describtion</div>
    <div class="rhs">
      <div [hidden]="sublocEditDescIcoShow" class="lhs"> {{minorLocation.description}} </div>
      <mat-input-container *ngIf="sublocEditDescIcoShow" class="example-full-width">
         <textarea matInput value="{{minorLocation.description}}" [formControl]="sublocDescEdit"></textarea>
      </mat-input-container>
      <i [hidden]="sublocEditDescIcoShow" (click)="sublocEditDescToggle()" class="edit-ico fa fa-pencil-square-o" aria-hidden="true"></i>
      <i *ngIf="sublocEditDescIcoShow" (click)="sublocEditDescSubmit()" class="done-ico fa fa-check" aria-hidden="true"></i>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div> -->