@import "../../../../globals/variables.scss";
.tooltip {
    opacity:1; //simpa added for missing elements
    position: relative; //simpa added for missing elements
    font-size: 1.3em !important;
  
    &:after {
      font-family: Arial, Helvetica, sans-serif;
      opacity: 0;
      transition: all .4s;
      font-size: 1.2rem !important;
      position: absolute;
      margin-left: -100px;
      display: block;
      padding: 3px;
      content: attr(data-tooltip);
      background: rgba(0, 0, 0, 0.74);
      border-radius: 6px;
      color: #fff;
      min-width: auto;
      text-align: center;
    }
  
    &:hover {
      &:after {
        opacity: 1;
        margin-left: -20px;
        //margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
      }
    }
  }
.page-title {
    text-align: left;
    position: absolute;
}
.inner-page-contentArea {
    padding: 0;
}
.inner-menu1-wrap {
    top: 0;
    text-align: right;
}
.inner-menu1-wrap .innerMenu-ul{
    text-align: left;
}
.responsive_nav-group{
    display: none;
}
.content-sec-ico:hover, .content-sec-icoActive{
    background: #F5F5F5;
    color: #4bb8ef;
}
@media only screen and (max-width: 800px){
    .responsive_nav-group{
        display: block;
    }
    .responsive_nav-group i{
        font-size: 2.4rem;
    }
    .inner-page-menuTab{
        display: none;
    }
    .inner-page-wrap .rhs{
        float: none;
    }
    .dataMix-wrap .lhs, .dataMix-wrap .rhs{
        float: none;
        width: 100%;
    }
    .dataMix-wrap i{
        bottom: 5px;
    }
    .dataMix-wrap .rhs .lhs{
        font-weight: bold;
        font-size: 1.6rem;
    }
}