// @import '../../../../facility-page-home.component.scss';

.td-ctaWrap i {
    cursor: pointer;
    font-size: 2rem;
}
.pp-card{
    padding: 10px;
    box-sizing: border-box;
}
.pg-menuWrap{
    margin-bottom: 20px;
}