<div class="pgSubtitle">
    Donald Jones
</div>
<div>
    <div class="doc-mainWrap">
        <div class="doc-contentArea">
            <div class="clinicalNoteWrap"> 
                <div class="tblWrapa" class="actSect">
                    <table cellpadding="0" cellspacing="0" border="0.5">
                        <thead>
                            <tr>
                                <th>
                                    <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                                    <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                                    <span style="padding-left: 3px;">Name</span>
                                </th>
                                <th>
                                    <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                                    <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                                    <span style="padding-left: 3px;">Gender</span>
                                </th>
                                <th>
                                    <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                                    <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                                    <span style="padding-left: 3px;">Role</span>
                                </th>
                                <th>Status</th>
                                <th>Date</th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr>
                                <td colspan="10">
                                    <div class="tbl-actionRow">
                                        <!-- <div class="frm-item-wrap">
                          <apmis-lookup [(ngModel)]="apmisLookupText" 
                          url="apmisLookupUrl" query="apmisLookupQuery" placeholder="Patient"
                          isSocket="false" displayKey="apmisLookupDisplayKey" 
                          (selectedItem)="apmisLookupHandleSelectedItem($event)"></apmis-lookup>
                        </div>

                        <div class="frm-item-wrap">
                          <apmis-lookup [(ngModel)]="apmisLookupText" 
                              url="apmisLookupUrl" query="apmisLookupQuery" placeholder="Practitioner"
                              isSocket="false" displayKey="apmisLookupDisplayKey" 
                              (selectedItem)="apmisLookupHandleSelectedItem($event)"></apmis-lookup>
                        </div>

                        <div class="frm-item-wrap">
                          <apmis-lookup [(ngModel)]="apmisLookupText" 
                              url="apmisLookupUrl" query="apmisLookupQuery" placeholder="Location"
                              isSocket="false" displayKey="apmisLookupDisplayKey" 
                              (selectedItem)="apmisLookupHandleSelectedItem($event)"></apmis-lookup>
                        </div> -->
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>Julia Jones</td>
                                <td>F</td>
                                <td>
                                  <div class="role">D</div>
                                </td>
                                <td>Active</td>
                                <td>11th Jan, 2017. 09:00AM</td>
                            </tr>

                            <tr>
                                <td>Julia Jones</td>
                                <td>F</td>
                                <td>
                                  <div class="role">P</div>
                                </td>
                                <td>Active</td>
                                <td>11th Jan, 2017. 09:00AM</td>
                            </tr>

                            <tr>
                                <td>Julia Jones</td>
                                <td>F</td>
                                <td>
                                  <div class="role">D</div>
                                </td>
                                <td>Active</td>
                                <td>11th Jan, 2017. 09:00AM</td>
                            </tr>

                            <tr>
                                <td>Julia Jones</td>
                                <td>F</td>
                                <td>
                                  <div class="role">P</div>
                                </td>
                                <td>Active</td>
                                <td>11th Jan, 2017. 09:00AM</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>