<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
               
                <div class="col-xs-5 pull-right">
                    <!-- <button class="btn btn-blue pull-right" (click)="onClickAddImmunizationSchedule('');"><i class="fa fa-fw fa-plus"></i> ADD IMMUNIZATION SCHEDULE</button> -->
                    <button class="btn btn-blue pull-right" (click)="onClickAddImmunizationSchedule('');"><i class="fa fa-fw fa-plus"></i> ADD Batch SCHEDULE</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="tblWrapa" class="actSect">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-xs-1 table-head">No</div>
                            <div class="col-xs-2 table-head">Immunization Name</div>
                            <div class="col-xs-2 table-head">Vaccine</div>
                            <div class="col-xs-1 table-head">No. of Dosage</div>
                            <div class="col-xs-2 table-head">Intervals</div>
                            <div class="col-xs-1 table-head">Dose</div>
                            <div class="col-xs-2 table-head">Vaccination Site</div>
                            <div class="col-xs-1 table-head">
                                <i class="fa fa-search fa-fw pointer" (click)="onClickOpenSearch()"></i>
                            </div>
                        </div>
                        <div class="row" *ngIf="openSearch">
                            <div class="col-md-4">
                                <input [formControl]="immunizationScheduleSearch" class="table-header-input" type="text" placeholder="Search for Immunization Schedule">
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-1 table-head">
                                <i class="fa fa-close fa-fw" (click)="onClickOpenSearch()"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-list-item" *ngIf="immunizationSchedules.length === 0 && !loading">
                            <div class="col-xs-12" style="text-align:center">
                                No data available in table
                            </div>
                        </div>
                        <div class="card-list-item" *ngIf="immunizationSchedules.length === 0 && loading">
                            <div class="col-xs-12" style="text-align:center">
                                <i class="fa fa-circle-o-notch fa-spin fa-3x text-blue" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="card-list-item" *ngFor="let immunizationSchedule of immunizationSchedules; let i = index;">
                            <div class="row">
                                <div class="table-list col-xs-1"> {{i+1}}</div>
                                <div class="table-list col-xs-2">{{immunizationSchedule.name}}</div>
                                <div class="table-list col-xs-2">
                                    <span>{{immunizationSchedule.code }}</span>
                                    <br>
                                    <small>{{ immunizationSchedule.vaccineName }}</small>
                                </div>
                                <div class="table-list col-xs-1">{{ immunizationSchedule.numberOfDosage }}</div>
                                <div class="table-list col-xs-2">
                                    <span *ngFor="let interval of immunizationSchedule?.intervals">
                                        <b>{{ immunizationSchedule.code }}-{{ interval.sequence }}</b> {{ interval.duration }} {{ interval.unit }},
                                    </span>
                                </div>
                                <div class="table-list col-xs-1">{{ immunizationSchedule.dosage }}</div>
                                <div class="table-list col-xs-2">{{ immunizationSchedule.vaccinationSite }}</div>
                                <div class="table-list col-xs-1 action-placeholder">
                                    <i (click)="onClickAddImmunizationSchedule(immunizationSchedule);" class="fa fa-edit" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-7">
                <apmis-data-pager color="blue"
                                 (onPageClick)="gotoPage($event)"
                                 [in-progress]="loading"
                                 [show-progress]="true"
                                 next-prev-color="orange"
                                 [pager-source]="paginationObj"></apmis-data-pager>

            </div>
    </div>
</div>