<div class="animated pulse">
    <div class="modal-header-wrap">
        <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
        <legend class="modal_title">Add Room</legend>
        <div class="modal_mini_title">All Purpose Medical Information System</div>
    </div>
    <div class="modal-baseWrap">
        <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
        <legend *ngIf="selectedRoom === undefined" class="modal_title">Add Room</legend>
        <legend *ngIf="selectedRoom !== undefined" class="modal_title">Edit Room</legend>
        <!-- <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div> -->
        <div class="survery">
            <div class="row" *ngIf="!serviceLoading || !groupLoading">
                <div class="col-xs-12">
                    <form [formGroup]="addRoomFormGroup" novalidate>
                        <div class="padding-up">
                            <div class="frm-item-wrap">
                                <mat-input-container>
                                    <input matInput mat-error placeholder="Room Name" formControlName="room">
                                </mat-input-container>
                            </div>
                            <div class="frm-item-wrap">
                                <mat-form-field>
                                    <mat-select placeholder="Group" formControlName="group" [compareWith]="compareGroup">
                                        <mat-option *ngFor="let group of groups" [value]="group">{{group.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="frm-item-wrap" style="margin-top: 30px;">
                                <mat-form-field>
                                    <mat-select placeholder="Select Service" formControlName="service" [compareWith]="compareService">
                                        <mat-option *ngFor="let service of servicePriceTags" [value]="service">
                                            {{service?.name}}
                                            <!-- <div *ngFor="let price of service.price">
                                                <span>{{price?.name}} &#x20A6;{{price?.price}}, </span>
                                            </div> -->
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="frm-item-wrap" style="margin-top: 30px;">
                                <mat-form-field>
                                    <textarea formControlName="desc" matInput placeholder="Description"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="btn-box">
                                
                                <button mat-raised-button [disabled]="!addRoomFormGroup.valid || disableAddRoomBtn" (click)="addroom(addRoomFormGroup.value, addRoomFormGroup.valid)" class="btn">
                                  <span *ngIf="addRoom"><i class="fa fa-plus"></i> Add Room</span>
                                  <span *ngIf="addingRoom">Adding Room... <i class="fa fa-spin fa-spinner"></i></span>
                                  <span *ngIf="editRoom"><i class="fa fa-plus"></i> Edit Room</span>
                                  <span *ngIf="editingRoom">Editing Room... <i class="fa fa-spin fa-spinner"></i></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row" *ngIf="serviceLoading && groupLoading">
                <div class="col-xs-12">
                    <div class="text-center">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x text-blue"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>