.modal-baseWrap {
    width: 400px;
    // max-height: 90%;
    padding: 30px;
}

.btn-box {
    padding: 30px 0;
    text-align: center;
    .btn {
        color: #Fff;
    }
}

.mat-select,
.mat-input-container {
    width: 100%;
}