<div class="sec-title">Appointment History</div>

<div class="appt-sect-wrap">
  <ul class="hst-list-wrap">
    <li class="hst-list-item">
      <div class="hst-date">11th October 2018</div>
      <div class="meat">
        <div class="appt-group-val">X-Ray Department</div>
        <div class="appt-item-group">
          <div class="appt-group-label">Investigations</div>
          <div class="appt-group-val">
            <div (click)="valGroup_click()" class="group-val-clickable">10 Investigations</div>
            <ul *ngIf="valGroup" class="val-group-list shadow-RB">
              <div class="x-wrap">
                <i (click)="valGroup_click()" class="fa fa-times"></i>
              </div>
              <div class="vg-header">
                <div class="suggested-wrap">
                  <div class="suggested-img-wrap">
                    <img src="../../../../../../assets/images/users/default.png" >
                  </div>
                  <div class="suggested-label">Sydney James</div>
                </div>
                <div class="head-label">X-Ray Department</div>
                <div class="head-label">11th October 2018</div>
              </div>
              
              <div class="li-wrap">
                <li><span class="count">1.</span> of the right arm</li>
                <li><span class="count">2.</span>X-Ray of the chest</li>
                <li><span class="count">3.</span>X-Ray of the right arm</li>
                <li><span class="count">4.</span>X-Ray of the chest</li>
                <li><span class="count">5.</span>X-Ray of the right arm</li>
                <li><span class="count">6.</span>X-Ray of the chest</li>
                <li><span class="count">7.</span>X-Ray of the right arm</li>
                <li><span class="count">8.</span>X-Ray of the chest</li>
                <li><span class="count">9.</span>X-Ray of the right arm</li>
                <li><span class="count">10.</span>X-Ray of the chest</li>
                <li><span class="count">1.</span> of the right arm</li>
                <li><span class="count">2.</span>X-Ray of the chest</li>
                <li><span class="count">3.</span>X-Ray of the right arm</li>
                <li><span class="count">4.</span>X-Ray of the chest</li>
                <li><span class="count">5.</span>X-Ray of the right arm</li>
                <li><span class="count">6.</span>X-Ray of the chest</li>
                <li><span class="count">7.</span>X-Ray of the right arm</li>
                <li><span class="count">8.</span>X-Ray of the chest</li>
                <li><span class="count">9.</span>X-Ray of the right arm</li>
                <li><span class="count">10.</span>X-Ray of the chest</li>
              </div>
            </ul>
          </div>
        </div>
        <div class="appt-actions">
          <div class="list-cta"><i class="fa fa-elipsis-h"></i> View Report</div>
          <div class="list-cta"><i class="fa fa-undo"></i> Re-schedule</div>
        </div>
      </div>
    </li>
    <li class="hst-list-item">
      <div class="hst-date">11th October 2018</div>
      <div class="meat">
        <div class="appt-group-val">X-Ray Department</div>
        <div class="appt-item-group">
          <div class="appt-group-label">Investigations</div>
          <div class="appt-group-val">
            <div (click)="valGroup_click()" class="group-val-clickable">10 Investigations</div>
            <ul *ngIf="valGroup" class="val-group-list shadow-RB">
              <div class="x-wrap">
                <i (click)="valGroup_click()" class="fa fa-times"></i>
              </div>
              <div class="vg-header">
                <div class="suggested-wrap">
                  <div class="suggested-img-wrap">
                    <img src="../../../../../../assets/images/users/default.png" >
                  </div>
                  <div class="suggested-label">Sydney James</div>
                </div>
                <div class="head-label">X-Ray Department</div>
                <div class="head-label">11th October 2018</div>
              </div>
              
              <div class="li-wrap">
                <li><span class="count">1.</span> of the right arm</li>
                <li><span class="count">2.</span>X-Ray of the chest</li>
                <li><span class="count">3.</span>X-Ray of the right arm</li>
                <li><span class="count">4.</span>X-Ray of the chest</li>
                <li><span class="count">5.</span>X-Ray of the right arm</li>
                <li><span class="count">6.</span>X-Ray of the chest</li>
                <li><span class="count">7.</span>X-Ray of the right arm</li>
                <li><span class="count">8.</span>X-Ray of the chest</li>
                <li><span class="count">9.</span>X-Ray of the right arm</li>
                <li><span class="count">10.</span>X-Ray of the chest</li>
                <li><span class="count">1.</span> of the right arm</li>
                <li><span class="count">2.</span>X-Ray of the chest</li>
                <li><span class="count">3.</span>X-Ray of the right arm</li>
                <li><span class="count">4.</span>X-Ray of the chest</li>
                <li><span class="count">5.</span>X-Ray of the right arm</li>
                <li><span class="count">6.</span>X-Ray of the chest</li>
                <li><span class="count">7.</span>X-Ray of the right arm</li>
                <li><span class="count">8.</span>X-Ray of the chest</li>
                <li><span class="count">9.</span>X-Ray of the right arm</li>
                <li><span class="count">10.</span>X-Ray of the chest</li>
              </div>
            </ul>
          </div>
        </div>
        <div class="appt-actions">
          <div class="list-cta"><i class="fa fa-elipsis-h"></i> View Report</div>
          <div class="list-cta"><i class="fa fa-undo"></i> Re-schedule</div>
        </div>
      </div>
    </li>
    <li class="hst-list-item">
      <div class="hst-date">11th October 2018</div>
      <div class="meat">
        <div class="appt-group-val">X-Ray Department</div>
        <div class="appt-item-group">
          <div class="appt-group-label">Investigations</div>
          <div class="appt-group-val">
            <div (click)="valGroup_click()" class="group-val-clickable">10 Investigations</div>
            <ul *ngIf="valGroup" class="val-group-list shadow-RB">
              <div class="x-wrap">
                <i (click)="valGroup_click()" class="fa fa-times"></i>
              </div>
              <div class="vg-header">
                <div class="suggested-wrap">
                  <div class="suggested-img-wrap">
                    <img src="../../../../../../assets/images/users/default.png" >
                  </div>
                  <div class="suggested-label">Sydney James</div>
                </div>
                <div class="head-label">X-Ray Department</div>
                <div class="head-label">11th October 2018</div>
              </div>
              
              <div class="li-wrap">
                <li><span class="count">1.</span> of the right arm</li>
                <li><span class="count">2.</span>X-Ray of the chest</li>
                <li><span class="count">3.</span>X-Ray of the right arm</li>
                <li><span class="count">4.</span>X-Ray of the chest</li>
                <li><span class="count">5.</span>X-Ray of the right arm</li>
                <li><span class="count">6.</span>X-Ray of the chest</li>
                <li><span class="count">7.</span>X-Ray of the right arm</li>
                <li><span class="count">8.</span>X-Ray of the chest</li>
                <li><span class="count">9.</span>X-Ray of the right arm</li>
                <li><span class="count">10.</span>X-Ray of the chest</li>
                <li><span class="count">1.</span> of the right arm</li>
                <li><span class="count">2.</span>X-Ray of the chest</li>
                <li><span class="count">3.</span>X-Ray of the right arm</li>
                <li><span class="count">4.</span>X-Ray of the chest</li>
                <li><span class="count">5.</span>X-Ray of the right arm</li>
                <li><span class="count">6.</span>X-Ray of the chest</li>
                <li><span class="count">7.</span>X-Ray of the right arm</li>
                <li><span class="count">8.</span>X-Ray of the chest</li>
                <li><span class="count">9.</span>X-Ray of the right arm</li>
                <li><span class="count">10.</span>X-Ray of the chest</li>
              </div>
            </ul>
          </div>
        </div>
        <div class="appt-actions">
          <div class="list-cta"><i class="fa fa-elipsis-h"></i> View Report</div>
          <div class="list-cta"><i class="fa fa-undo"></i> Re-schedule</div>
        </div>
      </div>
    </li>
    <li class="hst-list-item">
      <div class="hst-date">11th October 2018</div>
      <div class="meat">
        <div class="appt-group-val">X-Ray Department</div>
        <div class="appt-item-group">
          <div class="appt-group-label">Investigations</div>
          <div class="appt-group-val">
            <div (click)="valGroup_click()" class="group-val-clickable">10 Investigations</div>
            <ul *ngIf="valGroup" class="val-group-list shadow-RB">
              <div class="x-wrap">
                <i (click)="valGroup_click()" class="fa fa-times"></i>
              </div>
              <div class="vg-header">
                <div class="suggested-wrap">
                  <div class="suggested-img-wrap">
                    <img src="../../../../../../assets/images/users/default.png" >
                  </div>
                  <div class="suggested-label">Sydney James</div>
                </div>
                <div class="head-label">X-Ray Department</div>
                <div class="head-label">11th October 2018</div>
              </div>
              
              <div class="li-wrap">
                <li><span class="count">1.</span> of the right arm</li>
                <li><span class="count">2.</span>X-Ray of the chest</li>
                <li><span class="count">3.</span>X-Ray of the right arm</li>
                <li><span class="count">4.</span>X-Ray of the chest</li>
                <li><span class="count">5.</span>X-Ray of the right arm</li>
                <li><span class="count">6.</span>X-Ray of the chest</li>
                <li><span class="count">7.</span>X-Ray of the right arm</li>
                <li><span class="count">8.</span>X-Ray of the chest</li>
                <li><span class="count">9.</span>X-Ray of the right arm</li>
                <li><span class="count">10.</span>X-Ray of the chest</li>
                <li><span class="count">1.</span> of the right arm</li>
                <li><span class="count">2.</span>X-Ray of the chest</li>
                <li><span class="count">3.</span>X-Ray of the right arm</li>
                <li><span class="count">4.</span>X-Ray of the chest</li>
                <li><span class="count">5.</span>X-Ray of the right arm</li>
                <li><span class="count">6.</span>X-Ray of the chest</li>
                <li><span class="count">7.</span>X-Ray of the right arm</li>
                <li><span class="count">8.</span>X-Ray of the chest</li>
                <li><span class="count">9.</span>X-Ray of the right arm</li>
                <li><span class="count">10.</span>X-Ray of the chest</li>
              </div>
            </ul>
          </div>
        </div>
        <div class="appt-actions">
          <div class="list-cta"><i class="fa fa-elipsis-h"></i> View Report</div>
          <div class="list-cta"><i class="fa fa-undo"></i> Re-schedule</div>
        </div>
      </div>
    </li>
  </ul>
</div>