@import '../../store-manager/landing-page/landing-page.component.scss';
.card {
    position: relative;
    background: #fff;
    width: 100%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
    margin-top: 20px;
    .card-header {
        background: #337ab7;
        color: #fff;
        font-size: 1.2rem;
        padding: 10px;
        vertical-align: middle;
        line-height: 30px;
        border-bottom: solid 1px #fff;
        font-weight: 600;
        .table-head {
            border-right: solid 1px #fff;
            text-align: center;
            .search-box {
                margin-top: 10px;
            }
        }
        .table-header-input {
            background: rgba(255, 255, 255, 0.233);
            color: #fff;
            border: none;
            border-radius: 5px;
            width: 100%;
            text-align: center;
            font-size: 1.2rem !important;
            height: 30px;
            margin-top: 5px;
        }
        .table-header-select {
            background: rgba(255, 255, 255, 0.233);
            color: #dddddd;
            border: none;
            border-radius: 5px;
            width: 100%;
            text-align: center;
            height: 30px;
            font-size: 1.2rem !important;
        }
        .table-head:last-of-type {
            border: none;
        }
    }
    .card-content {
        font-size: 1.2px;
        .table-list {
            // border-right: solid 1px #aaa;
            text-align: center;
            overflow-wrap: break-word;
        }
    }
    .card-header-box {
        background: rgba(255, 255, 255, 0.16);
        color: #fff;
        border: none;
        font-size: 1.2rem !important;
        padding: 10px !important;
        width: 100%;
        height: 30px !important;
        box-sizing: border-box;
    }
    .card-list-item {
        padding: 10px;
        border-bottom: solid rgb(204, 204, 204) 1px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 1.2rem;
        transition: 0.2s;
    }
    .options {
        font-size: 1.2rem;
        opacity: 0;
        cursor: pointer;
    }
    .summary-title {
        display: block;
        padding: 10px;
        padding-top: 20px;
        font-size: 3rem;
        color: #b3b3b3;
        margin-bottom: 10px;
        font-weight: 100;
    }
    .summary-footer {
        width: 100%;
        background: #33A6FF;
        color: #fff;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 10px;
        box-sizing: border-box;
    }
    .chart-side {
        padding-top: 110px !important;
    }
    .chart-title {
        font-weight: 100;
        font-size: 4rem;
        color: #b3b3b3;
        display: block;
    }
    .chart-subtitle {
        font-weight: 900;
        font-size: 1.2rem;
        color: #b3b3b3;
        display: block;
    }
}

.searchInput {
    margin-top: 0;
    width: auto;
    min-width: auto;
}

.action-btn {
    padding: 0px;
}

.inPatient-activityTimeline {
    .title {
        text-align: center;
    }
    .timeline-headwrap {
        padding: 10px 10px;
        margin-bottom: 10px;
    }
    .timeline-active {
        padding: 0 20px;
        width: 100%;
        height: 10px;
    }
    .product-details {
        padding: 10px 0 10px 0;
        table {
            border: none;
            tr {
                background-color: #fff;
                td {
                    padding: 10px;
                    border: none;
                    &:first-child {
                        color: #ccc;
                    }
                }
            }
        }
    }
    .btn-container {
        padding: 30px;
    }
}