.form-group {
    margin-bottom: 20px;
}
.form-group label{
    display: block;
    font-size: 1.4rem;
}
.form-group select, .form-group input{
    padding: 5px;
    width: 100%;
}
.form-group textarea{
    padding: 10px;
    width: 100%;
    max-width: 400px;
}
.btn-wrap-x2{
    margin-top: 20px;
}
.pretty label{
    font-size: 1.4rem;
}