  <div  class="inPatient-activityTimeline shadow-RB animated slideInRight">
        <div (click)="slideProductDetailsToggle(appointment, $event)" class="hide-actionWrap">
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        </div>

        <div class="survery">
                <div class="">
                    <select>
                      <option value="volvo">Select Supply</option>
                    </select>
                </div>
                <div class=" text-center">
                    <h4 style="color:#343434;">{{selectedInvoice.supplierObject.name}}</h4>
                    <p style="color:#e50000">Payment History</p>
                    <p style="color:#2b6ac8">{{selectedInvoice.invoiceNumber}}</p>
                </div>
                <div class="">
                    <div class="border-box">
                      <table class="table-borderless table-condensed table-hover">
                          <tbody>
                            <tr>
                              <td style="color:#9b5c0b;">Total Bill  </td> 
                             
                              <td>&#8358; {{selectedInvoice.invoiceAmount}}</td>
                            </tr>
                             <tr>
                              <td style="color:#9b5c0b;">Paid Bills  </td>
                              <td>
                                  <span *ngIf="selectedInvoice.amountPaid !== undefined">&#8358; {{selectedInvoice.amountPaid}}</span>
                                  <span *ngIf="selectedInvoice.amountPaid === undefined">0</span>
                              </td>
                            </tr>
                             <tr>
                              <td style="color:#9b5c0b;">Outstanding  </td> 
                              <td style="color:#e50000">&#8358; {{checkForOutstanding(selectedInvoice)}}</td>
                            </tr>
                          </tbody>
                      </table>
                    </div>
                </div>
                <div class="">
                  <table class="table-borderless table-condensed table-hover">
                      <thead class="thead-border">
                        <tr id="border-bottom-tr">
                          <th style=" width: 65px; ">Date</th>
                          <th style=" width: 65px; ">Amount</th>
                          <th style=" width: 65px; ">Payment By</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let product of selectedInvoice.products">
                          <td>{{product.updatedAt|date:'medium'}}</td>
                          <td>{{product.costPrice * product.quantity}}</td>
                          <td>{{selectedInvoice.employeeObject?.personDetails?.firstName}} {{selectedInvoice?.employeeObject?.personDetails?.lastName}}</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                <div class="font-icon pull-right">
                  <div class="pull-right print-pdf">
                    <span><i class="fa fa-file-pdf-o"></i></span>
                    <span><i class="fa fa-print"></i></span>
                  </div><br><br>
                  <div>
                      <p>Apmis - Continental Hospital</p>
                  </div>
                </div>
                </div>
    </div>