@import "../documentation/documentation.component.scss";

button{
    color: #fff;
}
.vaccination-item {
    margin: 20px 0;
    border-bottom: 1px solid #777;
    padding-bottom: 10px;
}
.vi-date{
    width: 100%;
    text-align: right;
    font-size: 1.4rem;
    color: #ff2500;
}
.top-actions{
    padding-top: 10px;
    font-size: 1.46em;
    color: #777;
}
.vi-short-name {
    font-size: 1.5rem;
    color: #194985;
}
.vi-others {
    font-size: 1.2rem;
    line-height: 1.4;
}
.buttom-actions{
    display: flex;
    justify-content: flex-end;
}
.cta-1{
    width: auto;
    height: 26px;
    font-size: 1.4rem;
    padding: 2px 20px;
}
.cta-1 i{
    padding-right: 10px;
}
.cta-green{
    background: rgb(46, 125, 50);
}
.cta-red{
    background: #B71C1C;
}
.cta-orange{
    background: #e59400;
}
.vi-status{
    font-size: 1.2rem;
    width: 100%;
    letter-spacing: 2px;
    text-align: right;
    font-weight: bold;
}

.vi-status-1{
    color: #0288D1;
}
.vi-status-2{
    color: rgb(46, 125, 50);
}
.vi-status-3{
    color: #e59400;
}
.vi-status-4{
    color: #ff2500;
}
.doc-card2{
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}
.page-tabs{
    display: flex;
    justify-content: flex-start;
}
.page-tab {
    border: 2px solid #fff;
    padding: 10px;
    color: #000;
    font-size: 1.2rem;
    cursor: pointer;
}
.page-tab-active, .page-tab:hover{
    background: #fff;
    border-right: 1px solid #e2e2e2;
}