@import "./../apmis-search.component.scss";

.apmis-search-content{
    position: absolute;
    z-index: 100;
    background-color: #fff;
    border:  1px solid #0288D1;
    width: 100%;
    border-radius: 5px;
    // min-width: 300px;
    //margin-top: 10px;
    box-shadow: 0 8px 16px var(--shadow-color); 
    ul{
        width: 100%;
        max-height: 320px;
        min-height: 100px;
        overflow: auto;
    }
    .ico{
        cursor: pointer;
    }
    .apmis-search-item{
        width: 100%;
        border-bottom: 1px solid #ddd;
        padding: 20px;
        box-sizing: border-box;
        cursor: pointer;
        &:hover{
            background: #f8f8f8;
        }
        .input-wrap{
            position: relative;
            width: 100%;
        }
        .search-ico{
            position: absolute;
            left: 32px;
            top: 32px;
            margin-right: 5px;
        }
        .input{
            font-size: 12px;
            color: #777777;
            border: 1px solid #C4C4C4;
            padding: 5px;
            box-sizing: border-box;
            padding-left: 20px;
            border-radius: 3px;
            box-shadow: -1px 0px 5px 0px #C4C4C4;
            width: 100% !important;
        }
        
    }
    .asi-list{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .item-payload{
            position: relative;
            display: flex;
            align-items: center;
            .item-val{
                font-weight: 400;
                cursor: pointer;
                padding-left: 40px;
            }
        }
        .item-img{
            position: absolute;
            left: 2px;
        }
    }
}
.asi-create-item{
    cursor: pointer;
    background: #ddd;
    padding: 5px;
    text-align: center;
    font-size: 10px;
    color: #0288D1;
    height: 25px;
}