.dashboard-grid {
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px;
    margin-left: 30px;
}

.control-group {
     :hover {
        color: #5691c8
    }
}

.title {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.row {
    width: auto !important;
    display: contents !important;
}

.subtitle {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    vertical-align: sub;
    font-size: smaller;
}

.header {
    height: 40px;
}

hr {
    max-width: 1500px;
}

p {
    margin: 0em;
}

i {
    text-align: center;
}