<div class="topDetails">
  <div class="ptWrap">
    <div class="col-xs-3 imgWrap">
      <div *ngIf="prescriptionItems?.personDetails?.profileImageObject === undefined || prescriptionItems === null"><img
          src="assets/images/users/default.png"></div>
      <img *ngIf="prescriptionItems?.personDetails?.profileImageObject !== undefined && prescriptionItems !== null"
        class="shadow" [src]="_facilityService.transform(prescriptionItems?.personDetails?.profileImageObject?.detailthumbnail)">
    </div>
    <div class="innerDetail">
      <small>Patient Name </small>
      <b>{{ prescriptionItems?.personDetails?.firstName }} {{ prescriptionItems?.personDetails?.lastName }}</b>
    </div>
  </div>
  <div class="innerWrap">
    <small>APMIS ID </small>
    <b>{{ prescriptionItems?.personDetails?.apmisId }}</b>
  </div>
  <div class="innerWrap">
    <small>Gender </small>
    <b>{{ prescriptionItems?.personDetails?.gender }}</b>
  </div>
  <div class="innerWrap">
    <small>Prescription Priotity </small>
    <b>{{ prescriptionItems?.priority?.name}}</b>
  </div>
  <div class="innerWrap">
    <small>Prescribed By</small>
    <b> {{ prescriptionItems?.employeeDetails?.employeeName }}</b>
  </div>
  <div class="innerWrap">
    <small>Location/Farcility</small>
    <b> {{ prescriptionItems?.clinicDetails?.clinicName}}</b>
  </div>
</div>

<div class="presc-table">
  <app-prescribed-table></app-prescribed-table>
  <!-- <app-prescribed-table (startPrescription)="startPrescription($event)" [selectedAppointment]="selectedAppointment"
  [patientDetails]="patientDetails" [currentPrescription]="currentPrescription"></app-prescribed-table> -->
</div>

<h3>Prescribed items to dispense</h3>
<div class="store-table">
  <div class="store-thead">
    <div class="store-tr">
      <div class="store-th store-td-actions"></div>
      <div class="store-tr-in">
        <div class="store-th">Drug </div>
        <div class="store-th">QTY Billed</div>
        <div class="store-th">QTY Dispensed</div>
        <div class="store-th">Balance</div>
        <div class="store-th">Unit Price</div>
        <div class="store-th">Payment</div>
        <div class="store-th">Status</div>
      </div>
    </div>
  </div>

  <div class="store-tbody" *ngFor="let b of [2, 3]; let i=index">
    <div class="store-tr">
      <div class="store-td store-td-actions">
        <i *ngIf="item_to_show(i)" (click)="toggle_tr(i, 'down')" class="exp-tr fa fa-angle-down"></i>
        <i *ngIf="!item_to_show(i)" (click)="toggle_tr(i, 'right')" class="exp-tr fa fa-angle-right"></i>
      </div>
      <div class="store-tr-in">
      <!-- <div class="store-tr-in" *ngFor="let Items of prescriptions"> -->
        <!-- <div class="store-td">{{Items.genericName}}</div> -->
        <div class="store-td">Medroxyprogesterone acetate 10 MG Oral Tablet [Curretab]</div>
        <div class="store-td">300 Sachets</div>
        <div class="store-td">200 Sachets </div>
        <div class="store-td">100 Sachets</div>
        <div class="store-td">N30/sachet</div>
        <div class="store-td" style="font-weight: bold;">N40,000</div>
        <div class="store-td">Not Dispensed</div>
      </div>
    </div>
    <div *ngIf="item_to_show(i)" class="store-tr-content">
      <div class="batches-wrap">
        <ul class="batches">
          <li class="batch">
            <div class="val-wrap">
              <div class="val-label">Batch:</div>
              <div class="val-val">1243ERTCH</div>
            </div>
            <div class="val-wrap">
              <div class="val-label">Quantity from batch:</div>
              <div class="val-val">20 Tablets</div>
            </div>
          </li>
          <li class="batch">
            <div class="val-wrap">
              <div class="val-label">Batch:</div>
              <div class="val-val">1243ERTCH</div>
            </div>
            <div class="val-wrap">
              <div class="val-label">Quantity from batch:</div>
              <div class="val-val">20 Tablets</div>
            </div>
          </li>
          <li class="batch">
            <div class="val-wrap">
              <div class="val-label">Batch:</div>
              <div class="val-val">1243ERTCH</div>
            </div>
            <div class="val-wrap">
              <div class="val-label">Quantity from batch:</div>
              <div class="val-val">20 Tablets</div>
            </div>
          </li>
          <li class="batch">
            <div class="val-wrap">
              <div class="val-label">Payment Status:</div>
            </div>
            <div class="val-wrap">
              <div class="val-label red-label">Not Paid</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>