@import '../med-record-documentation/med-record-documentation.component.scss';

.feed-li, .feed-li:hover{
    background: #fff;
}
.rec-sect{
    margin-bottom: 10px;
}
.sect-title{
    margin-bottom: 5px;
    text-decoration: unset;
    border-bottom: 0 solid transparent;
    font-size: 1.4rem
}