<div class="pp-card card-long">
  <div class="card-title">Diagnostics Reports</div>
  <ul class="feed-ul">
    <li class="feed-li feed-card">
      <div class="acc-img-name">
        <div class="list-img">
          <img src="../../../../../assets/images/logos/default.png">
        </div>
        <div class="list-img-labels-wrap">
          <div class="list-img-name">Clinix Diagnostics</div>
          <div class="list-img-labels">Diagnostics Center</div>
        </div>
        <div class="rec-date">11th January 2018</div>
      </div>

      <div class="rec-content">
        <div class="rec-title">Blood Count</div>
        <div class="rec-data">
          <div class="rec-sect">
            <div class="sect-title">Invvestigation Result</div>
            <div class="sect-content">
              WBC = 12/2, RBC = 10/4, HGB = 133.
            </div>
          </div>

          <div class="rec-sect">
            <div class="sect-title">Conclusion</div>
            <div class="sect-content">Blood count falls within the normal range</div>
          </div>
        </div>
      </div>

      <div class="fx-rhs">
        <ul class="atch-ul">
          <li class="attach-wrap">
            <i class="fa fa-file"></i>
            <div class="list-img-labels-wrap">
              <div class="ico-label">Left Arm Xray</div>
            </div>
          </li>
          <li class="attach-wrap">
            <i class="fa fa-file"></i>
            <div class="list-img-labels-wrap">
              <div class="ico-label">Right Femur Xray</div>
            </div>
          </li>
        </ul>
        <div class="acc-img-name">
          <div class="list-img">
            <img src="../../../../../assets/images/users/default.png">
          </div>
          <div class="list-img-labels-wrap">
            <div class="list-img-name">Solomon Lange</div>
            <div class="list-img-labels">Lab Scientist</div>
          </div>
        </div>
      </div>
    </li>

    <li class="feed-li feed-card">
      <div class="acc-img-name">
        <div class="list-img">
          <img src="../../../../../assets/images/logos/default.png">
        </div>
        <div class="list-img-labels-wrap">
          <div class="list-img-name">Clinix Diagnostics</div>
          <div class="list-img-labels">Diagnostics Center</div>
        </div>
        <div class="rec-date">11th January 2018</div>
      </div>

      <div class="rec-content">
        <div class="rec-title">Blood Count</div>
        <div class="rec-data">
          <div class="rec-sect">
            <div class="sect-title">Invvestigation Result</div>
            <div class="sect-content">
              WBC = 12/2, RBC = 10/4, HGB = 133.
            </div>
          </div>

          <div class="rec-sect">
            <div class="sect-title">Conclusion</div>
            <div class="sect-content">Blood count falls within the normal range</div>
          </div>
        </div>
      </div>

      <div class="fx-rhs">
        <div class="acc-img-name">
          <div class="list-img">
            <img src="../../../../../assets/images/users/default.png">
          </div>
          <div class="list-img-labels-wrap">
            <div class="list-img-name">Solomon Lange</div>
            <div class="list-img-labels">Lab Scientist</div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div> 