<!-- <ul class="pg-menuWrap">
    <li [class.pg-menuActive]="productNavMenu" routerLink="/dashboard/store">Home</li>
    <li [class.pg-menuActive]="inventoryNavMenu" routerLink="/dashboard/inventory-manager/inventory" (click)="changeRoute('/dashboard/inventory-manager/inventory')">My Inventory</li>
    <li [class.pg-menuActive]="stockTransferNavMenu" routerLink="/dashboard/inventory-manager/stock-transfer" (click)="changeRoute('/dashboard/inventory-manager/stock-transfer')">Transfer Stock</li>
    <li [class.pg-menuActive]="stockHistoryNavMenu" routerLink="/dashboard/inventory-manager/stock-history" (click)="changeRoute('/dashboard/inventory-manager/stock-history')">Transfer History</li>
    <li [class.pg-menuActive]="receiveStockNavMenu" routerLink="/dashboard/inventory-manager/receive-stock" (click)="changeRoute('/dashboard/inventory-manager/receive-stock')">Receive Stock</li>
    <li [class.pg-menuActive]="requisitionNavMenu" routerLink="/dashboard/inventory-manager/requisition" (click)="changeRoute('/dashboard/inventory-manager/requisition')">Requisition</li>
    <li [class.pg-menuActive]="reorderLevelNavMenu" routerLink="/dashboard/inventory-manager/reorder-level" (click)="changeRoute('/dashboard/inventory-manager/reorder-level')">Re-Order Level</li>
    <li [class.pg-menuActive]="initializeNavMenu" (click)="changeRoute('/dashboard/inventory-manager/initialize-store')" routerLink="/dashboard/inventory-manager/initialize-store">Initialize Store</li>
</ul> -->

<div class="main-wrapper">
    <div class="content-sect">
        <div class="bar-1">
            <div class="active-store"></div>
            <div class="post-ql-open">
                <div class="ql-tip">Quick Links</div>
                <i (click)="toggleQl()" class="fa fa-link ql-open rotating"></i>
            </div>
        </div>

        <div class="active-store"> {{ checkingStore?.storeObject?.name }}</div>
        <div class="pg-labels-wrap">
            <div class="main-title">{{pageInView}}</div>
            <div class="labels-right">
                <div class="label-right" routerLink="/dashboard/store/pos">Point of Sale</div>
                <div class="label-right" (click)="onChangeCheckedIn()">Switch Store</div>
            </div>
        </div>
        <div class="rhs inner-page-contentArea c-page-wrapper">
            <router-outlet></router-outlet>
        </div>
        <div class="clear"></div>
    </div>
    <div class="store-quick-link-box">
        <app-store-quick-links *ngIf="Ql_toggle" (toggleQl)="toggleQl()"></app-store-quick-links>
    </div>
</div>
<div *ngIf="modal_on" class="modal-overlay">
    <app-store-check-in [workSpace]="workSpace" (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-store-check-in>
</div>