@import "../../../../globals/variables.scss";
.body-wrap {
    margin-top: 0;
}

.inner-page-wrap {
    margin-top: 40px;
}

.btn-1 {
    width: 140px;
}

.top-tab-search {
    border: 1px solid #9e9e9e;
}

.moduleNav {
    padding: 0;
}

.moduleNav li {
    padding: 0;
    margin-right: 5px;
}

.searchInputWrap {
    display: flex;
    align-items: center;
    position: relative;
    /*width: 300px;*/
    padding: 5px 2px;
}

.searchInputWrap i {
    position: absolute;
    color: #858585;
    margin-left: 10px;
}

.searchInput {
    border: 1px solid #eee;
    background: #FAFAFA;
    border-radius: 7px;
    padding: 7px;
    padding-left: 30px;
   /* text-align: center;*/
    width: 100%;
}

.fullwidth-topActions {
    align-items: center;
    justify-content: space-between;
    margin-left: 0px;
    margin-bottom: -40px;
    margin-top: 0;
}

.btn-box {
    color: #fff;
    margin-bottom: 5px;
}