@import "../../facility-page-home.component.scss";

.modal-baseWrap{
    width: 560px;
}
.modal-baseWrap .mat-input-container {
    width: 100%;
}
.frm-item-x2{
    width: 100%;
}
form{
    margin-bottom: 20px;
}