@import '../documentation/documentation.component.scss';

.doc-mainWrap{
    display: block; 
}
.tab-wrap {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #b3b3b3;
}
.tab-item {
    padding: 5px 15px;
    font-size: 1.2rem;
    background: #f8f8f8;
    border-left: 1px solid #b3b3b3;
    border-top: 1px solid #b3b3b3;
    border-right: 1px solid #b3bebe;
    border-radius: 7px 7px 0 0;
    margin-bottom: -7px;
    cursor: pointer;
}
.tab-item:hover, .tab-item-active{
    background: #fff;
    color: #0288D1;
}
.tab-content {
    width: 100%;
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
}