<div class="pg-subtitle">PATIENT PAGE - PAYMENT</div>
<div class="doc-mainWrap">
  <div class="tab-wrap">
    <div (click)="tabWallet_click()" [class.tab-item-active]="tabWallet" class="tab-item">Wallet</div>
    <div (click)="tabInsurance_click()" [class.tab-item-active]="tabInsurance" class="tab-item">Insurance</div>
    <div (click)="tabCompany_click()" [class.tab-item-active]="tabCompany" class="tab-item">Company Cover</div>
    <div (click)="tabFamily_click()" [class.tab-item-active]="tabFamily" class="tab-item">Family Cover</div>
  </div>

  <div class="tab-content">
    <app-wallet [patient]="patient" *ngIf="tabWallet"></app-wallet>
    <app-insurance *ngIf="tabInsurance"></app-insurance>
    <app-company *ngIf="tabCompany"></app-company>
    <app-family *ngIf="tabFamily"></app-family>
  </div>
</div>
