<!--<div class="headers headers2">
  <div class="block-title2">{{unit.name}}</div> 

  <div class="unit-ico-wrap">
    <div class="btn-1 btn-red"><i class="fa fa-trash" aria-hidden="true"></i> Delete Unit</div>
  </div>
</div>-->

<!--<div>
  <i [hidden]="false" #unititem>{{count}}</i>
  <div class="dataMix-wrap color1">
    <div class="display-flex">
      <div class="lhs">Unit Name</div>
      <div class="rhs">
        <div [hidden]="unitEditNameIcoShow" class="lhs"> {{unit.name}} </div>
        <mat-input-container *ngIf="unitEditNameIcoShow"  class="example-full-width">
            <input matInput  value="{{unit.name}}" [formControl]="unitNameEdit">
        </mat-input-container>
        <i [hidden]="unitEditNameIcoShow" (click)="unitEditNameToggle()" class="edit-ico fa fa-pencil-square-o" aria-hidden="true"></i>
        <i *ngIf="unitEditNameIcoShow" (click)="unitEditNameSubmit()" class="done-ico fa fa-check" aria-hidden="true"></i>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <div class="dataMix-wrap color2">
    <div>
      <div class="lhs">Short Name</div>
      <div class="rhs">
        <div [hidden]="unitEditShortNameIcoShow" class="lhs"> {{unit.shortName}} </div>
        <mat-input-container *ngIf="unitEditShortNameIcoShow"  class="example-full-width">
            <input matInput  value="{{unit.shortName}}" [formControl]="unitshortNameEdit">
        </mat-input-container>
        <i [hidden]="unitEditShortNameIcoShow" (click)="unitEditShortNameToggle()" class="edit-ico fa fa-pencil-square-o" aria-hidden="true"></i>
        <i *ngIf="unitEditShortNameIcoShow" (click)="unitEditShortNameSubmit()" class="done-ico fa fa-check" aria-hidden="true"></i>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>-->

<!--<div class="dataMix-wrap color1">
  <div>
    <div class="lhs">Describtion</div>
    <div class="rhs">
      <div [hidden]="unitEditDescIcoShow" class="lhs"> {{unit.description}} </div>
      <mat-input-container *ngIf="unitEditDescIcoShow" class="example-full-width">
        <textarea matInput value="{{unit.description}}" [formControl]="unitDescEdit"></textarea>
      </mat-input-container>
      <i [hidden]="unitEditDescIcoShow" (click)="unitEditDescToggle()" class="edit-ico fa fa-pencil-square-o" aria-hidden="true"></i>
      <i *ngIf="unitEditDescIcoShow" (click)="unitEditDescSubmit()" class="done-ico fa fa-check" aria-hidden="true"></i>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>-->

<!--<div class="dataMix-wrap color2">
  <div>
    <div class="lhs">Clinic</div>
    <div class="rhs">
      <div class="clinicsWrap">
        <div class="clinicWrap">
          <div [hidden]="unitEditClinicIcoShow" class="lhs"> Authopeadic Clinic </div>
          <mat-select *ngIf="unitEditClinicIcoShow">
            <mat-option></mat-option>
          </mat-select>
          <i [hidden]="unitEditClinicIcoShow" (click)="unitEditClinicToggle()" class="edit-ico fa fa-pencil-square-o" aria-hidden="true"></i>
          <i *ngIf="unitEditClinicIcoShow" (click)="unitEditClinicSubmit()" class="done-ico fa fa-check" aria-hidden="true"></i>
          <div class="clear"></div>
        </div>
        <div class="clinicWrap">
          <div [hidden]="unitEditClinicIcoShow2" class="lhs"> Authopeadic Clinic </div>
            <mat-select *ngIf="unitEditClinicIcoShow">
              <mat-option></mat-option>
            </mat-select>
          <i [hidden]="unitEditClinicIcoShow2" (click)="unitEditClinicToggle2()" class="edit-ico fa fa-pencil-square-o" aria-hidden="true"></i>
          <i *ngIf="unitEditClinicIcoShow2" (click)="unitEditClinicSubmit2()" class="done-ico fa fa-check" aria-hidden="true"></i>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>-->

