.txtWrap{
   height: fit-content;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
    line-height: 1.3;
  padding: 5px;
}


@import "./../../../../nhmis-summary/nhmis-summary.component.scss";
@import "./../../../../registers/registers.component.scss";
@import "./../../register-entry/register-entry.component.scss";
@import "./../../register-entries.component.scss";