// @import "../../facility-page-home.component.scss";

.workspace-tbl td{
    padding: 5px !important;
}
.td-ctaWrap i {
    cursor: pointer;
    font-size: 2rem;
}
.modal-baseWrap{
    min-width: 800px;
    padding: 10px;
}
.sel-rap{
    width: 150px;
}