<div class="pg-subtitle">PATIENT PAGE - PREGNANCY MANAGER</div>

<div class="doc-mainWrap">
  <div class="doc-contentArea">
    <div class="doc-cardWrap">
      <!-- <button (click)="fluidType_show()" class="small-btn fluid-btn" mat-raised-button>Fluid Type</button> -->
      <div class="card2-exo">
          <div class="doc-card2">
              <div class="modal_title">Previous Pregnancies</div>
              <table class="workspace-tbl" cellpadding="0" cellspacing="0" border="0.5">
                <thead>
                    <tr>
                        <th>
                            <span style="padding-left: 3px;">Date of Birth</span>
                        </th>
                        <th>
                            <span style="padding-left: 3px;">Pregnancy Duration</span>
                        </th>
                        <th>
                            <span style="padding-left: 3px;">Pregnancy, Labour and Puerperium</span>
                        </th>
                        <th>
                            <span style="padding-left: 3px;">Birth Weight</span>
                        </th>
                        <th>
                            <span style="padding-left: 3px;">Baby A/SB NND D</span>
                        </th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr>
                        <td>11/10/18</td>
                        <td>9 Months 2 Weeks</td>
                        <td class="td-worspace">all that pregnancy stuff goes here</td>
                        <td>250 pounds</td>
                        <td>not sure</td>
                    </tr>
                    <tr>
                      <td>11/10/18</td>
                      <td>9 Months 2 Weeks</td>
                      <td class="td-worspace">all that pregnancy stuff goes here</td>
                      <td>250 pounds</td>
                      <td>not sure</td>
                  </tr>
                  <tr>
                    <td>11/10/18</td>
                    <td>9 Months 2 Weeks</td>
                    <td class="td-worspace">all that pregnancy stuff goes here</td>
                    <td>250 pounds</td>
                    <td>not sure</td>
                </tr>
                <tr>
                  <td>11/10/18</td>
                  <td>9 Months 2 Weeks</td>
                  <td class="td-worspace">all that pregnancy stuff goes here</td>
                  <td>250 pounds</td>
                  <td>not sure</td>
                </tr>
                </tbody>
              </table>
              <div class="docCard-body"></div>
          </div>
      </div>
    </div>
  </div>

  <div class="doc-rArea">
    <app-right-tab></app-right-tab>
  </div>
</div>