.modal-baseWrap {
    padding: 30px;
}

.frm-item-wrap {
    margin: 30px 0;
}

.btn-box {
    text-align: center;
    padding: 10px 0;
    .btn {
        color: #fff;
    }
}

.mat-input-container {
    width: 100%;
}