<div class="side-wrap-full">
  <div class="btn-1 btn-blue addCoverBtn"><i class="fa fa-plus-square" aria-hidden="true"></i> New Staff Health Cover</div>
  <div class="covered-orgs lhs">

    <div class="searchInputWrap">
      <!--<input type="search" autofocus class="searchInput" placeholder="search for employee">
      <i class="fa fa-search" aria-hidden="true"></i>-->
      <mat-input-container class="example-full-width">
         <input matInput autofocus placeholder="search for employee">
      </mat-input-container>
      <div id="search">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
    </div>

    <div class="covered-org">
      <img src="assets/images/users/default.png">
      <div class="txtWrap">
        <div class="facility">Samuel Maduabuchi</div>
        <div class="listedFacilityDesc">5 Dependants</div>
      </div>
    </div>

    <div class="covered-org">
      <img src="assets/images/users/default.png">
      <div class="txtWrap">
        <div class="facility">Emmanuel Odinaka</div>
        <div class="listedFacilityDesc">3 Dependants</div>
      </div>
    </div>

    <div class="covered-org">
      <img src="assets/images/users/default.png">
      <div class="txtWrap">
        <div class="facility">Jose Charles Dungs</div>
        <div class="listedFacilityDesc">7 Dependants</div>
      </div>
    </div>

    <div class="covered-org">
      <img src="assets/images/users/default.png">
      <div class="txtWrap">
        <div class="facility">Ezinne Chimaroke</div>
        <div class="listedFacilityDesc">4 Dependants</div>
      </div>
    </div>

    <div class="covered-org">
      <img src="assets/images/users/default.png">
      <div class="txtWrap">
        <div class="facility">Johanna Ike</div>
        <div class="listedFacilityDesc">3 Dependants</div>
      </div>
    </div>

    <div class="covered-org">
      <img src="assets/images/users/default.png">
      <div class="txtWrap">
        <div class="facility">Manira Dariye</div>
        <div class="listedFacilityDesc">7 Dependants</div>
      </div>
    </div>
  </div>
  <div class="search-orgs rhs">
    <div class="secTitle">Corporate Organizations</div>

    <div class="searchInputWrap">
      <!--<input type="search" autofocus class="searchInput" placeholder="search organizations">
      <i class="fa fa-search" aria-hidden="true"></i>-->
       <mat-input-container class="example-full-width">
         <input matInput autofocus placeholder="search organizations">
      </mat-input-container>
      <div id="search">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
    </div>

    <div class="orgWrap">
      <img src="assets/images/logos/default.jpg">
      <div class="txtWrap">
        <div class="facility">Continental Hospital</div>
        <div class="listedFacilityDesc">
          Lorem ipsum dolor sit amet, tation ullamco laboris...
        </div>
      </div>
    </div>

    <div class="orgWrap">
      <img src="assets/images/logos/default.jpg">
      <div class="txtWrap">
        <div class="facility">Continental Hospital</div>
        <div class="listedFacilityDesc">
          Lorem ipsum dolor sit amet, tation ullamco laboris...
        </div>
      </div>
    </div>

    <div class="orgWrap">
      <img src="assets/images/logos/default.jpg">
      <div class="txtWrap">
        <div class="facility">Continental Hospital</div>
        <div class="listedFacilityDesc">
          Lorem ipsum dolor sit amet, tation ullamco laboris...
        </div>
      </div>
    </div>

    <div class="orgWrap">
      <img src="assets/images/logos/default.jpg">
      <div class="txtWrap">
        <div class="facility">Continental Hospital</div>
        <div class="listedFacilityDesc">
          Lorem ipsum dolor sit amet, tation ullamco laboris...
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
