.td-checkbox{
    width: 30px;
}
.cont-wrap{
    max-height: 280px;
    text-align: center;
    overflow-y: scroll;
    margin: 0px auto;
    background: #fff;
    padding: 5px;
}
.td-tag{
    text-align: left;
}
button{
    margin-top: 10px;
}