<div class="animated pulse">
    <div class="modal-header-wrap">
        <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
        <legend class="modal_title">Tags</legend>
        <div class="modal_mini_title">All Purpose Medical Information System</div>
    </div>
    <div class="modal-baseWrap">
        <div class="cont-wrap">
            <table>
                <tbody>
                    <tr>
                        <td class="td-checkbox">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="td-tag">HIV</td>
                    </tr>

                    <tr>
                        <td class="td-checkbox">
                        <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="td-tag">Children</td>
                    </tr>

                    <tr>
                        <td class="td-checkbox">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="td-tag">VIP</td>
                    </tr>

                    <tr>
                        <td class="td-checkbox">
                        <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="td-tag">TB</td>
                    </tr>
                </tbody>
            </table>

            <button>Add Tags</button>
        </div>
    </div> 
</div>