@import "../../daily-gmp/new-gmp-entry/new-gmp-entry.component.scss";
@import "../../daily-opd/new-opd-entry2/new-opd-entry2.component.scss";


.border_left_shift{
    padding-left:120px;
}

.mat-tab-body-content {
    height: 100%;
    overflow: hidden !important;
}





