.modal-baseWrap{
    min-height: 500px;
}
.top-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-thead {
    cursor: pointer;
    padding: 4px 10px;
    background: #194985;
    outline: 0;
    border: oldlace;
    color: #fff;
    font-size: 1.2rem;
}
.sect-wrap{
    padding: 10px;
    border: 1px solid #bbb;
    margin-bottom: 10px;
}
.td-icos{
    display: flex;
    i{
        margin-right: 15px;
        cursor: pointer;
        font-size: 1.6rem;
    }
    i:hover{
        color: #0288D1;
    }
}
.sel-facility {
    padding: 5px;
    margin-bottom: 10px;
}