@import '../../../store-manager/new-store/new-store.component.scss';
.survery legend {
    text-align: center !important;
}
.supplierTitle {
    margin-bottom: 35px;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    background: #ccc;
    padding: 5px;
    color: #0d47a1;
}
.modal_mini_title{
    margin-top: -4px;
    margin-bottom: 5px;
}