<div>
  <app-config-product></app-config-product>
</div>

<div class="tbl-config-wrap">
  <h2>Configured Product</h2>
  <div class="store-table">
    <div class="store-thead">
      <div class="store-tr">
        <div class="store-th store-td-actions">
          
        </div>
        <div class="config-tr-in">
          <div class="store-th">Products</div>
          <div class="store-th">Base Unit</div>
          <div class="store-th">Pack Types</div>
        </div>
        <div class="store-th store-td-actions"></div>
      </div>
    </div>

    <div class="store-tbody">
      <div class="store-pre-tr">
        
        <div class="store-tr" *ngFor="let item of productConfigs">
          <div class="store-td" *ngIf="productConfigs.length < 1"><span>There are no records to show</span></div>
          <div class="store-td store-td-actions">
            
          </div>
          <div class="config-tr-in">
            <div class="store-td">{{ item?.productObject?.name }}</div>
            <div class="store-td">{{item?.baseUnit[0]?.name}}</div>
            <div class="store-td">
              <div class="config-tags-wrap">
                <div class="tag-btn" *ngFor="let pack of item.packSizes">
                  <span>{{pack.size}} {{pack.name}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="store-td store-td-actions">
            <div class="table-list col-xs-1 action-placeholder">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
              <div class="action-container shadow-RB">
                <div class="action-item" (click)="onEdit(item)">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  <span>Edit</span>
                </div>
                <div class="action-item" (click)="confirmDelete(item)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                  <span>Delete</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="store-tr" *ngIf="productConfigLoading">
          <div class="config-tr-in">
              <div class="store-td"></div>
              <div class="store-td"></div><div class="store-td"></div><div class="store-td"></div><div class="store-td"></div>
              <div class="store-td"></div><div class="store-td"></div><div class="store-td"></div>
              <div class="store-td"></div><div class="store-td"></div><div class="store-td"></div><div class="store-td"></div>
              <div class="store-td"></div><div class="store-td"></div><div class="store-td"></div>
              <div class="store-td"></div><div class="store-td"></div><div class="store-td"></div><div class="store-td"></div>
              <div class="store-td"></div><div class="store-td"></div><div class="store-td"></div>
              <div class="store-td"><i class="fa fa-spinner fa-spin"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>