<div class="list-wrap">
  <div class="list-con-wrap">
    <div class="con-wrap">
      <span>CUSTOMER TYPE</span>
      <div class="toggle-base-wrap" style="margin-top: 5px;">
        <div [className]="selectedToggleIndex === i ? 'toggle-wrap ft-btn-selected' : 'toggle-wrap'" *ngFor="let item of toggleData; let i = index"
          (click)="onToggle(i)">
          <span> {{item.name}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="searchpriscription" *ngIf="showAPMIScustomer">
    <div class="InputGroup" style="padding-bottom:0px !important;">
      <input class="customInput" type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label class="customLabel" style="font-size:14px;"><i class="fa fa-search" aria-hidden="true"></i>Search
        prescription with name or apmis id</label>
      <!-- <ul class="search-sugestions">
            <li class="search-sugestion"></li>
          </ul> -->
    </div>
  </div>
</div>

<hr>

<div *ngIf="showCashCustomer" class="" style="border:none !important; margin-bottom: 0; display:block;">
  <div class="store-table">
    <div class="store-thead">
      <div class="store-tr">
        <div class="store-th store-td-actions">
          <input type="checkbox">
        </div>
        <div class="config-tr-in in-tr">
          <div class="store-th">Products</div>
          <div class="store-th">Batches</div>
          <div class="store-th">QUANTITY</div>
          <div class="store-th">UNIT PRICE</div>
          <div class="store-th">Amount</div>
        </div>
        <div class="store-th store-td-actions"></div>
      </div>
    </div>

    <div class="store-tbody">
      <div class="store-pre-tr">
        <div class="store-tr">
          <div class="store-td store-td-actions">
            <input type="checkbox">
          </div>
          <div class="config-tr-in in-tr">
            <div class="store-td">
              <div class="InputGroup input-space" style="width: 65% !important;">
                <input min="0" class="customInput" type="text" placeholder="Search Product" required>
                <span class="highlight"></span>

                <!-- search results -->
                <!-- <ul class="search-sugestions bar">
                  <li class="search-sugestion">Medroxyprogesterone acetate 10 MG Oral Tablet [Curretab]</li>
                </ul> -->
              </div>
            </div>
            <div class="store-td">
              <div class="InputGroup input-space">
                <select>
                  <option value="0">--Batches--</option>
                  <option value="1">HGXTC737</option>
                  <option value="2">VVT67623</option>
                  <option value="3">HJV635UI</option>
                </select>
              </div>
            </div>
            <div class="store-td">
              <div class="InputGroup input-space">
                <input min="0" class="customInput" type="text" placeholder="5 Packs" required>
                <span class="highlight"></span>
              </div>
            </div>
            <div class="store-td"> #10/Pack </div>
            <div class="store-td">#20,000</div>
          </div>
          <div class="store-td store-td-actions">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          </div>
        </div>
        <div class="store-tr">
          <div class="store-td store-td-actions">
            <input type="checkbox">
          </div>
          <div class="config-tr-in in-tr">
            <div class="store-td">Medroxyprogesterone acetate 10 MG Oral Tablet [Curretab]</div>
            <div class="store-td">HGXTC737</div>
            <div class="store-td">5 Packs</div>
            <div class="store-td"> #10/Pack </div>
            <div class="store-td">#20,000</div>
          </div>
          <div class="store-td store-td-actions">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          </div>
        </div>
        <div class="store-tr">
          <div class="store-td store-td-actions">
            <input type="checkbox">
          </div>
          <div class="config-tr-in in-tr">
            <div class="store-td">Medroxyprogesterone acetate 10 MG Oral Tablet [Curretab]</div>
            <div class="store-td">VVT67623</div>
            <div class="store-td">5 Packs</div>
            <div class="store-td"> #10/Pack </div>
            <div class="store-td">#20,000</div>
          </div>
          <div class="store-td store-td-actions">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          </div>
        </div>
        <div class="store-tr">
          <div class="store-td store-td-actions">
          </div>
          <div class="config-tr-in in-tr">
            <div class="store-td">
              <div class="con-wrap">
                <span>DATE</span>
                <h3>19/10/2018</h3>
              </div>
              <div class="con-wrap">
                <span>INVOICE NUMBER</span>
                <h3>2306TE5DG7U</h3>
              </div>
            </div>
            <div class="store-td"></div>
            <div class="store-td"></div>
            <div class="store-td" style="min-width: 300px;">
              <div class="amt-summ">
                <div class="summ">
                  <span>SUB TOTAL:</span>
                  <a>#350,000</a>
                </div>
                <div class="summ">
                  <span>VAT (20%):</span>
                  <a>#70,000</a>
                </div>
                <div class="summ">
                  <span>DISCOUNT:</span>
                  <div class="InputGroup input-space">
                    <input min="0" class="customInput" type="number" placeholder="&#8358;2,000" required>
                    <span class="highlight"></span>
                  </div>
                </div>
                <div class="summ">
                  <span>AMOUNT RECEIVED:</span>
                  <div class="InputGroup input-space">
                    <input min="0" class="customInput" type="number" placeholder="&#8358;20,000" required>
                    <span class="highlight"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="store-td store-td-actions">

          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="btm-wrap">
    <div class="dwnld">
      <h4>Download as:</h4>
      <div class="action-pad">
        <div class="btnBlue">
          <span>CSV</span>
        </div>
      </div>
      <div class="action-pad">
        <div class="btnBlue">
          <span>PDF</span>
        </div>
      </div>
      <div class="action-pad">
        <div class="btnBlue">
          <span>Print</span>
        </div>
      </div>
    </div>
    <div class="dwnld">
      <h4>Save as:</h4>
      <div class="action-pad">
        <div class="btnBlue">
          <i class="fa fa-floppy-o" aria-hidden="true"></i>
          <span>Draft</span>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
</div>


<div *ngIf="showAPMIScustomer" class="list-wrap" style="border:none !important; margin-bottom: 0;">
  <app-apmis-customer></app-apmis-customer>
  <!-- <app-customer-prescription></app-customer-prescription> -->
</div>