<div class="x2">
  <div class="user-wrap">
    <div class="img-wrap">
      <img src="../../../../../../../assets/images/users/default.png" >
    </div>
    <div class="img-label">Sydney James</div>
  </div>
  <div class="pre-label-wrap">
    <div class="pre-label-label">Radiology No</div>
    <div class="pre-label-val">AD-1222CA</div>
  </div>
</div>
<div class="pre-label-wrap">
  <div class="pre-label-label">Clinical Information</div>
  <div class="pre-label-val">{{clinicalInvestigation}}</div>
</div>
<div class="pre-label-wrap">
  <div class="pre-label-label">Diagnosis</div>
  <div class="pre-label-val">{{clinicalInvestigation}}</div>
</div>

<div class="sec-title">Investigation Requests</div>
<ul>
  <li class="investigation-item">
    <div class="x2">
      <div>This is investigation item one</div>
      <div class="list-cta"><i class="fa fa-calendar-plus"></i> Set Appointment</div>
    </div>
  </li>
  <li class="investigation-item">
    <div class="x2">
      <div>This is investigation item five</div>
      <div class="list-cta"><i class="fa fa-calendar-plus"></i> Set Appointment</div>
    </div>
  </li>
  <li class="investigation-item">
    <div class="x2">
      <div>This is investigation item two</div>
      <div class="list-cta"><i class="fa fa-calendar-plus"></i> Set Appointment</div>
    </div>
  </li>
  <li class="investigation-item">
    <div class="x2">
      <div>This is investigation item three</div>
      <div class="list-cta"><i class="fa fa-calendar-plus"></i> Set Appointment</div>
    </div>
  </li>
  <li class="investigation-item">
    <div class="x2">
      <div>This is investigation item four</div>
      <div class="list-cta"><i class="fa fa-calendar-plus"></i> Set Appointment</div>
    </div>
  </li>
</ul>