.frm-item-wrap {
    text-align: center;
}
.mod-frm{
    text-align: center;
}
.facility-title{
    margin-bottom: 20px;
}
.cta-1{
    font-size: 1.4rem;
}
.modal-baseWrap {
    width: 340px;
}
.frm-radio-wrap{
    border: 1px solid #eee;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 87%;
    margin-bottom: 30px;
}
.suggestionFeeds{
    width: 245px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.suggestedItem{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 185px;
    background: #BDBDBD;
    border-radius: 20px;
    padding: 3px;
    border: 0.5px solid #9E9E9E;
    margin-top: 5px;
    margin-left: 3px;
    cursor: pointer;
}
.suggestedItem:hover{
    background: #9E9E9E;
}
.suggestedItem img{
    width: 20px;
    margin-right: 10px;
}
.suggetedName {
    font-size: 1.2rem;
}