<div class="modal-baseWrap animated pulse">
    <div class="modal-header-wrap">
        <div (click)="close_onClick()" aria-hidden="true" class="modal-close-ico">X</div>
        <legend class="modal_title">Add Profession</legend>
        <div class="modal_mini_title">All Purpose Medical Information System</div>
    </div>
    <div class="mainErr animated shake" hidden="">you have unresolved errors</div>

        <div class="f_sg_1">
            <form>
                <div>
                    <mat-input-container class="example-full-width">
                        <input matInput placeholder="Profession" [formControl]="professionCtrl">
                    </mat-input-container>
                </div>
                <div>
                    <form [formGroup]="cadreForm" class="form-horizontal">
                        <div formArrayName="cadreArray">
                            <div class="frmArrayclinicWrap" *ngFor="let cadre of cadreForm['controls'].cadreArray['controls']; let i = index;">
                                <div formGroupName="{{i}}">
                                    <div class="mainErr animated shake" [hidden]="mainErrCadre || (cadreForm.controls['cadreArray'].value.length !== (i+1))">{{errMsgCadre}}</div>
                                    <div class="valSpan">
                                        <div class="frm-item-inner-wrap">
                                            <input type="text" [attr.disabled]="cadre.value.readonly?'':null" formControlName="name" placeholder="Cadre Name" autocomplete="off">
                                        </div>
                                        <span class="trash"><i (click)="onRemoveBill(cadre,i)" class="fa fa-times trash" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="frm-item-wrap frm-item-inner-wrap">
                                        <button *ngIf="!cadre.value.readonly" (click)="onAddHobby(cadre, cadreForm.valid)" mat-mini-fab><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="example-full-width" id="example-full-width">
                    <button (click)="save(frm_profession.valid, frm_profession.value)" class="apmis-blue" mat-raised-button>Save Profession</button>
                </div>
            </form>
        </div>
</div>