@import '../radiology-requests/radiology-requests.component.scss';
td {
    padding: 5px;
}
th{
    color: #000;
}
.btn-box {
    padding: 10px;
    text-align: center;
    .btn {
        color: #fff;
    }
}