<div class="new-modal">
  <div class="new-modal-wrap">
    <div class="new-modal_title">Distribution Across Stores</div>
    <div (click)="close_onClick()" class="new-modal-close-ico"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
    <div class="new-modal-baseWrap">
      <h2>Medroxyprogesterone acetate 10 MG Oral Tablet [Curretab]</h2>
      <div style="display: flex;">
        <div class="dropDown-container" style="margin-right:40px;">
          <div class="select">
            <select name="dropDown-container" id="dropDown-container">
              <option value="0">Select Store</option>
              <option value="1">Central Store</option>
              <option value="2">General Store</option>
              <option value="3">Pharmacy Store A</option>
              <option value="4">Pharmacy Store B</option>
            </select>
          </div>
        </div>
        <div class="dropDown-container" style="margin-right:40px;">
          <div class="select">
            <select name="dropDown-container" id="dropDown-container">
              <option value="0">Select Batch</option>
              <option value="1">1234ERTCH</option>
              <option value="2">6434ERRSH</option>
            </select>
          </div>
        </div>
      </div>
      <div>
        <p>4000 Tablets of Medroxyprogesterone acetate 10 MG Oral Tablet [Curretab]</p>
        <p>200 Cartons of Medroxyprogesterone acetate 10 MG Oral Tablet [Curretab]</p>
      </div>
    </div>
  </div>

</div>