@import '../radiology-requests/radiology-requests.component.scss';
.btn-box {
    padding: 10px 0;
    text-align: center;
    .btn {
        text-align: center;
        color: #fff;
    }
}

.table-content {
    padding: 10px;
}

td {
    padding: 5px;
}

.listWrap {
    background: #f8f8f8;
    padding: 10px;
    height: 187px;
    overflow-y: auto;
}

.list-title {
    font-size: 1.2rem;
    margin: 14px 0;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.list-label {
    width: 80%;
    text-align: left;
    color: #000;
}

.tab-key {
    display: flex;
    justify-content: flex-start;
}

.act-wrap {
    margin-right: 5px;
    border: 5px solid transparent;
    padding: 5px;
}

.actWrap-active,
.act-wrap:hover {
    background: #f8f8f8;
    border: 5px solid #fff;
}

.investigation {
    background: #fff;
    border: 1px solid transparent;
    margin-bottom: 10px;
}

.investigation:hover {
    border: 1px solid #eee;
}

.panel-wrap {
    margin-bottom: 10px;
    background: #fff;
    padding: 2px;
}

.panel-wrap:hover {
    .child-list {
        display: block;
    }
}

.panel {
    background: #eee;
    cursor: pointer;
    border: 1px solid transparent;
}

.panel:hover {
    border: 1px solid #fff;
}

.child-list {
    display: none;
}

.child-item {
    font-size: 1.2rem;
    margin: 5px;
    margin-left: 15px;
    color: #777;
}

.lone-input {
    margin: 10px 0;
}