<div class="animated pulse">
    <div class="modal-header-wrap">
        <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
        <legend class="modal_title">Basic Info</legend>
        <div class="modal_mini_title">All Purpose Medical Information System</div>
    </div>
    <div class="modal-baseWrap"> 

      <div class="">
        <!-- <i class="fa fa-pencil-square-o card-edit" aria-hidden="true"></i> -->
        <div class="card-title">Basic Data</div>

        <table cellpadding="0" cellspacing="0" border="0.5">  
          <tbody>
              <tr>
                  <td>Gender</td>
                  <td>Male</td>
              </tr>
              <tr>
                  <td>Marital Status</td>
                  <td>Single</td>
              </tr>
              <tr>
                  <td>Mothers Maiden Name</td>
                  <td>Dogara</td>
              </tr>
              <tr>
                  <td>Date of Birth</td>
                  <td>11th February, 1990.</td>
              </tr>
              <tr>
                  <td>Primary Contact</td>
                  <td>08099009988</td>
              </tr>
              <tr>
                  <td>Secondary Contact</td>
                  <td>08088776677</td>
              </tr>
              <tr>
                  <td>Nationality</td>
                  <td>Nigeria</td>
              </tr>
              <tr>
                  <td>State of Origin</td>
                  <td>Lagos</td>
              </tr>
              <tr>
                  <td>LGA</td>
                  <td>Akowonjo</td>
              </tr>
              <tr>
                  <td>Residential Address</td>
                  <td>Flat A Robin close, MKO Abiola Garden Alausa Ikeja, Lagos Nigeria.</td>
              </tr>
          </tbody>
        </table>
      </div>

      <div class="">
        <!-- <i class="fa fa-pencil-square-o card-edit" aria-hidden="true"></i> -->
        <div class="card-title">Next of Kin</div>

        <table cellpadding="0" cellspacing="0" border="0.5">  
          <tbody>
            <tr>
              <td>Daniel Jones</td>
              <td>
                <div>08088877887</div>
                <div>dan.jones@gmail.com</div>
                <div>No. 10C Alaruka Street, Ibadan Oyo State.</div>
              </td>
            </tr>
            <tr>
              <td>Daniel Jones</td>
              <td>
                <div>08088877887</div>
                <div>dan.jones@gmail.com</div>
                <div>No. 10C Alaruka Street, Ibadan Oyo State.</div>
              </td>
            </tr>
            <tr>
              <td>Daniel Jones</td>
              <td>
                <div>08088877887</div>
                <div>dan.jones@gmail.com</div>
                <div>No. 10C Alaruka Street, Ibadan Oyo State.</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
</div>