.modal-baseWrap {
    width: 350px;
    min-width: 350px;
    padding: 40px;
    height: 280px;
}

.postStrap-title {
    text-align: center;
    font-size: 2rem;
}

.cont-wrap {
    padding: 20px 0;
}

.frm-item-wrap {
    padding: 10px 0 35px 0;
}

.mat-select {
    padding: 1.29688em 0;
    width: 100%;
    font-size: 1.2rem;
    height: 20px;
}