.external-prescription {
    margin-top: 5px;
}

.drug {
    width: 70% !important;
}

.t-data {
    padding: 10px;
    width: 15%;
    text-align: left;
}
.pg-subtitle{
    text-align: left;
    color: #0288D1;
    font-size: 1.4rem;
    margin-top: -15px;
    margin-left: 5px;
}