@import "../../../../../../globals/variables.scss";

.page-title{
    text-align: center;
    position: relative;
    top: -20px;
    font-size: 1.2rem;
    width: 100%;
    color: #A6ACAF;
}
.tr-act-btn{
    width: 80px;
    margin: 0 auto;
}
.tbl-resp-wrap{
    min-width: 100%;
    overflow-y: auto; 
    padding-bottom: 100px;
}
.tbl-resp-wrap table{
    min-width: 850px;
}