.vac-cta button {
    padding: 5px 20px;
    font-size: 1.2rem;
    outline: 0;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
}
.vac-cta button i{
    padding-right: 10px;
}
.cta-blue {
    background: #256cc6;
    color: #fff;
}
.pg-title {
    font-size: 1.6rem;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: #194985;
}
.pg-wrap{
    background: #fff; 
}
.td-list-ul li {
    line-height: 1.8;
    font-size: 1.2rem;
}