<div class="survery">
        <div class="row">
            <div class="col-md-off-2 col-md-10">
                <div class="add-form text-center">
                   
                    <div class="form-group">
                        <input class="form-control" placeholder="add scope level" autofocus #scopetext /><br>
                        <button  class="btn btn-primary btn-block"> Create</button>
                    </div>
                </div>
                <div class="col-md-7">
                What s my name
                </div>
                <div class="col-md-5 btns">
                    <input type="button" class="btn btn-danger pull-right" value="delete"/>
                    <input type="button" class="btn btn-default pull-right" value="edit"/>
                </div>
            </div>
        </div>
</div>
