<div class="animated pulse">
    <div class="modal-header-wrap">
        <div (click)="close_onClick($event)" class="modal-close-ico" aria-hidden="true">X</div>
        <legend class="modal_title">Change Password</legend>
        <div class="modal_mini_title">All Purpose Medical Information System</div>
    </div>
    <div class="modal-baseWrap">

        <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>

        <div class="f_sg_1">

            <form [formGroup]="frm_changePass" novalidate autocomplete="off">

                <div class="frm-item-wrap">
                    <mat-input-container class="example-full-width">
                        <i *ngIf="show" (click)="toggleShow($event)" class="fa fa-lock toggle-pass" aria-hidden="true"></i>
                        <input type="password" autocomplete="off" matInput mat-error formControlName="oldPass" #showhideinput placeholder="Current Password">
                        <a [hidden]="show" (click)="toggleShow($event)" class="toggle-pass">
                            <i class="fa fa-eye"></i>
                        </a>
                    </mat-input-container>
                </div>

                <div class="frm-item-wrap">
                    <mat-input-container class="example-full-width">
                        <i *ngIf="show" (click)="toggleShowConfirm($event)" class="fa fa-lock toggle-pass" aria-hidden="true"></i>
                        <input type="password" autocomplete="off" matInput mat-error formControlName="password" #showhideinputconfirm placeholder="New Password">
                        <a [hidden]="show" (click)="toggleShowConfirm($event)" class="toggle-pass">
                            <i class="fa fa-eye"></i>
                        </a>
                        <mat-error *ngIf="frm_changePass.controls.password.hasError('required')">
                            Please enter new password
                        </mat-error>
                        <mat-error *ngIf="frm_changePass.controls.cpassword.hasError('minlength')">
                            New password must at lease be
                            <strong>7 characters</strong>
                        </mat-error>
                    </mat-input-container>
                </div>

                <div class="frm-item-wrap">
                    <mat-input-container class="example-full-width">
                        <input type="password" autocomplete="off" matInput mat-error formControlName="cpassword" #showhideinputconfirm placeholder="Confirm Password">
                        <mat-error *ngIf="!frm_changePass.controls.cpassword.valid">
                            Password did not match
                        </mat-error>
                    </mat-input-container>
                </div>

                <div (click)="changePword(frm_changePass.valid, frm_changePass.value)" [ngClass]="{'cta-1':frm_changePass.valid, 'cta-1-disable':!frm_changePass.valid}">
                    Change Password
                </div>

            </form>
        </div>

    </div>
</div>