<div class="animated pulse">
    <div class="modal-header-wrap">
        <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
        <legend class="modal_title">New Employee</legend>
        <div class="modal_mini_title">All Purpose Medical Information System</div>
    </div>
    <div class="modal-baseWrap">
        <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>

        <div *ngIf="apmisId_show" class="newEmp-idWrap">
            <input type="text" placeholder="Employee's Apmis ID'" [formControl]="newEmpIdControl">
            <div class="gen_idWrap">Employee has no
                <strong>apmis ID</strong>?
                <span (click)="newPerson1_show()">Generate New ID</span>
            </div>
            <div (click)="empApmisID()" class="btn-1 btn-blue">Add Employee</div>
        </div>

        <div *ngIf="frmPerson_show">
            <form [formGroup]="frmPerson" novalidate>

                <div class="frm-x2">
                    <div class="frm-item-wrap">
                        <mat-input-container class="example-full-width">
                            <input matInput mat-error placeholder="First Name" formControlName="firstname">
                            <mat-error *ngIf="frmPerson.controls.firstname.hasError('pattern')">
                                Only alphabets are allowed
                            </mat-error>
                        </mat-input-container>
                    </div>

                    <div class="frm-item-wrap">
                        <mat-input-container class="example-full-width">
                            <input matInput mat-error placeholder="Last Name" formControlName="lastname">
                        </mat-input-container>
                    </div>
                </div>

                <div class="frm-x2">
                    <div class="frm-item-wrap">
                        <mat-input-container class="example-full-width">
                            <input matInput mat-error placeholder="Mother's Maiden Name" formControlName="motherMaidenName">
                        </mat-input-container>
                    </div>
                    <div class="frm-item-wrap">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" placeholder="Date of Birth" formControlName="dob">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>

                <div class="frm-x2">
                    <div class="frm-item-wrap">
                        <mat-form-field class="example-full-width">
                            <mat-select placeholder="Gender" formControlName="gender">
                                <mat-option *ngFor="let item of genders" [value]="item.name">{{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="frm-item-wrap">
                        <mat-form-field class="example-full-width">
                            <mat-select placeholder="Title" formControlName="persontitle">
                                <mat-option [value]="title.name" *ngFor="let title of titles">{{title.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="frm-item-wrap">
                    <mat-input-container class="example-full-width">
                        <input type="tel" matInput mat-error placeholder="Phone Number" formControlName="phone">
                        <mat-error *ngIf="frmPerson.controls.phone.hasError('pattern')">
                            Only numbers are allowed
                        </mat-error>
                        <mat-error *ngIf="frmPerson.controls.phone.hasError('required')">
                            Telephone number is required
                        </mat-error>
                        <mat-error *ngIf="frmPerson.controls.phone.hasError('minlength')">
                            This field required minimum of 10 characters.
                        </mat-error>
                    </mat-input-container>
                </div>

                <div *ngIf="showSecurityQuestions" class="frm-item-wrap">
                    <mat-form-field class="example-full-width">
                        <mat-select placeholder="Security Questions" formControlName="securityQuestion">
                            <mat-option *ngFor="let item of securityQuestions" [value]="item.name">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div *ngIf="showSecurityQuestions" class="frm-item-wrap">
                    <mat-input-container class="example-full-width">
                        <input matInput mat-error placeholder="Security Question's Answer" formControlName="securityAnswer">
                    </mat-input-container>
                </div>
                <div class="clear"></div>

                <button [disabled]="(!frmPerson.valid && !isSaving) || isSaving || validatingPerson()" (click)="submit(frmPerson.valid, frmPerson.value)" [ngClass]="{'cta-1':(frmPerson.valid && !isSaving && !validatingPerson()), 'cta-1-disable':(!frmPerson.valid && !isSaving) || isSaving || validatingPerson()}">
                    Register
                    <i *ngIf="isSaving" class="fa fa-spinner fa-spin fa-2x"></i>
                </button>
            </form>
        </div>

        <div *ngIf="frmNewPerson1_show">
            <form [formGroup]="frmNewEmp1" novalidate>
                <div class="lhs">
                    <div class="frm-item-wrap">
                        <mat-form-field>
                            <mat-select placeholder="Title" formControlName="empTitle" (change)="onEmpTitleChange($event.value)">
                                <mat-option *ngFor="let item of titles" [value]="item.name">{{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="frm-item-wrap">
                        <mat-input-container class="example-full-width">
                            <input matInput type="text" placeholder="First Name" formControlName="empFirstName">
                        </mat-input-container>
                    </div>
                    <div class="frm-item-wrap">
                        <mat-input-container class="example-full-width">
                            <input matInput type="text" placeholder="Other Names" formControlName="empOtherNames">
                        </mat-input-container>
                    </div>
                    <div class="frm-item-wrap">
                        <mat-input-container class="example-full-width">
                            <input matInput type="text" placeholder="Sur Name" formControlName="empLastName">
                        </mat-input-container>
                    </div>
                    <div class="frm-item-wrap">
                        <mat-input-container class="example-full-width">
                            <input matInput type="text" placeholder="File Number" formControlName="fileNumber">
                        </mat-input-container>
                    </div>
                    <div class="frm-item-wrap">
                        <mat-form-field>
                            <mat-select placeholder="Gender" formControlName="empGender" (change)="onEmpGenderChange($event.value)">
                                <mat-option *ngFor="let item of genders" [value]="item.name">{{item.name}}</mat-option>
                            </mat-select>

                        </mat-form-field>
                    </div>
                </div>
                <div class="rhs">
                    <div class="frm-item-wrap">
                        <mat-form-field>
                            <mat-select placeholder="Nationality" formControlName="empNationality" (change)="onEmpNationalityChange($event.value)">
                                <mat-option *ngFor="let item of countries" [value]="item.name">{{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="frm-item-wrap">
                        <mat-form-field>
                            <mat-select placeholder="State of Origin" formControlName="empState" (change)="onEmpStateChange($event.value)">
                                <mat-option *ngFor="let item of states" [value]="item.name">{{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="frm-item-wrap">
                        <mat-form-field>
                            <mat-select placeholder="LGA" formControlName="empLga" (change)="onEmpLgaChange($event.value)">
                                <mat-option *ngFor="let item of lgs" [value]="item.name">{{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="frm-item-wrap">
                        <mat-input-container class="example-full-width">
                            <input matInput type="email" placeholder="Email Address" formControlName="empEmail">
                        </mat-input-container>
                    </div>
                    <div class="frm-item-wrap">
                        <mat-input-container class="example-full-width">
                            <input matInput type="email" placeholder="Confirm Email Address" formControlName="confirmEmpEmail">
                        </mat-input-container>
                    </div>
                    <div class="frm-item-wrap">
                        <mat-input-container class="example-full-width">
                            <input matInput type="tel" placeholder="Contact Number" formControlName="empPhonNo">
                        </mat-input-container>
                    </div>
                </div>
                <div class="clear"></div>
                <div (click)="back_empApmisID()" class="backBtn">
                    <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Go Back</div>
                <div (click)="newPerson1(frmNewEmp1.valid, frmNewEmp1.value)" class="cta-1">
                    CONTINUE
                </div>

            </form>
        </div>

        <div *ngIf="frmNewPerson2_show">

            <form [formGroup]="frmNewEmp2" novalidate>

                <div class="lhs">

                    <div class="frm-item-wrap">
                        <mat-form-field>
                            <mat-select placeholder="Marital Status" formControlName="empMaritalStatus" (change)="onEmpMaritalStatusChange($event.value)">
                                <mat-option *ngFor="let item of maritalStatuses" [value]="item.name">{{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="frm-item-wrap">
                        <mat-form-field>
                            <mat-select placeholder="Country (Residence)" formControlName="empCountry">
                                <mat-option *ngFor="let item of countries" [value]="item.name">{{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="frm-item-wrap">
                        <mat-form-field>
                            <mat-select placeholder="State (Residence)" formControlName="empContactState">
                                <mat-option *ngFor="let item of contactStates" [value]="item.name">{{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="frm-item-wrap">
                        <mat-form-field>
                            <mat-select placeholder="City (Residence)" formControlName="empCity">
                                <mat-option *ngFor="let item of cities" [value]="item.name">{{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="rhs">
                    <div class="frm-item-wrap">
                        <mat-input-container class="example-full-width">
                            <input matInput mat-error placeholder="Home Address" formControlName="empHomeAddress">
                        </mat-input-container>
                    </div>
                    <div class="frm-item-wrap" style="margin-top:-6px;">
                        <mat-input-container>
                            <input matInput [matDatepicker]="picker" formControlName="empDOB" placeholder="Date of Birth">
                            <!-- <button mdSuffix [mdDatepickerToggle]="picker"></button> -->
                            <mat-datepicker-toggle mdSuffix [for]="picker"></mat-datepicker-toggle>
                        </mat-input-container>
                        <mat-datepicker #picker></mat-datepicker>
                    </div>
                    <div class="frm-item-wrap">
                        <mat-form-field>
                            <mat-select placeholder="Select security question" formControlName="secQst">
                                <mat-option *ngFor="let item of maritalStatuses" [value]="item.name">{{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="frm-item-wrap">
                        <mat-input-container class="example-full-width">
                            <input matInput mat-error placeholder="Answer" formControlName="secAns">
                        </mat-input-container>
                    </div>

                    <!--<div class="frm-item-wrap">
                        <div>
                            <img-cropper [image]="empImg" #cropper [settings]="cropperSettings"></img-cropper>
                        </div>
                    </div>-->

                </div>

                <div class="clear"></div>

                <div (click)="back_newPerson1()" class="backBtn">
                    <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Go Back</div>

                <div (click)="newPerson2(frmNewEmp2.valid, frmNewEmp2.value)" class="cta-1">
                    CONTINUE
                </div>

            </form>
        </div>

        <div *ngIf="frmNewPerson3_show">

            <form [formGroup]="frmNewEmp3" novalidate>

                <div class="lhs">

                    <div class="frm-item-wrap">
                        <mat-input-container class="example-full-width">
                            <input matInput mat-error [readonly]="nextOfKinReadOnly" placeholder="Next Of Kin's' Apmis ID" formControlName="nok_apmisID">
                        </mat-input-container>
                    </div>

                    <div class="frm-item-wrap">
                        <mat-input-container class="example-full-width">
                            <input matInput mat-error [readonly]="nextOfKinReadOnly" placeholder="Next Of Kin's' Full Name" formControlName="nok_fullname">
                        </mat-input-container>
                    </div>

                    <div class="frm-item-wrap">
                        <mat-input-container class="example-full-width">
                            <input matInput mat-error [readonly]="nextOfKinReadOnly" placeholder="Next Of Kin's Home Address" formControlName="nok_Address">
                        </mat-input-container>
                    </div>
                </div>

                <div class="rhs">

                    <div class="frm-item-wrap">
                        <mat-input-container class="example-full-width">
                            <input matInput mat-error type="email" [readonly]="nextOfKinReadOnly" placeholder="Next Of Kin's Email Address" formControlName="nok_email">
                        </mat-input-container>
                    </div>

                    <div class="frm-item-wrap">
                        <mat-input-container class="example-full-width">
                            <input matInput mat-error type="tel" [readonly]="nextOfKinReadOnly" placeholder="Next Of Kin's Contact Number" formControlName="nok_phoneNo">
                        </mat-input-container>
                    </div>

                    <div class="frm-item-wrap">
                        <mat-form-field>
                            <mat-select placeholder="Relationship" formControlName="nok_relationship" (change)="onNokRelationshipChange($event.value)">
                                <mat-option *ngFor="let item of relationships" [value]="item.name">{{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>

                <div class="clear"></div>

                <div class="frmNavControls_wrap">
                    <div (click)="back_newPerson2()" class="backBtn">
                        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Go Back</div>
                    <div (click)="skip_nok()" class="backBtn">
                        <i class="fa fa-forward" aria-hidden="true"></i>Skip</div>
                </div>

                <div (click)="newPerson3(frmNewEmp3.valid, frmNewEmp3.value)" class="cta-1">
                    CONTINUE
                </div>

            </form>
        </div>

        <div *ngIf="frmNewEmp4_show">

            <form [formGroup]="frmNewEmp4" novalidate>

                <div>

                    <div class="frm-item-wrap">
                        <mat-form-field>
                            <mat-select placeholder="Department" formControlName="empDept" (change)="onEmpDeptChange($event.value)">
                                <mat-option *ngFor="let item of departments" [value]="item.name">{{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="frm-item-wrap">
                        <mat-form-field>
                            <mat-select placeholder="Unit" formControlName="empUnit">
                                <mat-option *ngFor="let item of units" [value]="item.name">{{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="frm-item-wrap">
                        <mat-form-field>
                            <mat-select placeholder="Work Location" formControlName="empLoc" (change)="onEmpLocChange($event.value)">
                                <mat-option *ngFor="let item of minorLocations" [value]="item.name">{{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="frm-item-wrap">
                        <mat-form-field>
                            <mat-select placeholder="Job Title" formControlName="empJobTitle" (change)="onEmpJobTitleChange($event.value)">
                                <mat-option *ngFor="let item of professions" [value]="item.name">{{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div>
                    <div class="frm-item-wrap">
                        <mat-form-field>
                            <mat-select placeholder="Level" formControlName="empLevel">
                                <mat-option *ngFor="let item of cadres" [value]="item.name">{{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="frm-item-wrap">
                        <mat-input-container class="example-full-width">
                            <input matInput mat-error type="email" placeholder="Official (Work) Email" formControlName="empWorkEmail">
                        </mat-input-container>
                    </div>

                    <div class="frm-item-wrap">
                        <mat-input-container class="example-full-width">
                            <input matInput mat-error type="email" placeholder="Official (Work) Contact Number" formControlName="empWorkPhonNo">
                        </mat-input-container>
                    </div>

                </div>

                <div (click)="back_newPerson3()" class="backBtn">
                    <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Go Back</div>

                <div (click)="newEmp4(frmNewEmp4.valid, frmNewEmp4.value)" class="cta-1">
                    Create Employee
                </div>

            </form>
        </div>

    </div>
</div>