@import "./../../../../pharmacy/new-prescription-list/dispense-prescription/dispense-prescription.component.scss";

.sv-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}