@import "../facility-page-home.component.scss";
.account-status {
    color: #006621;
    font-size: 1.4rem;
}

.bulb {
    display: flex;
    justify-content: space-between;
}
.patient-img-wrap {
    height: 100px;
    width: 100px;
}