@import '../apmis-store-home/store-home-main/store-home-main.component.scss';

.new-btn-blue{
    margin-left: 30px;
}
.select label{
    font-size: 16px;
}
select{
    font-weight: bold;
    color: #292929 !important;
    padding-left: 0 !important;
    font-size: 16px;
}
.val{
    font-weight: bold;
}
.tbl-header-rhs label{
    font-size: 16px;
    color: #000;
    margin-bottom: 24px;
    display: block;
}
.tbl-header-rhs{
    align-items: flex-start !important;
}
.tbl-header-rhs .val{
    font-size: 18px;
    color: #000;
    font-weight: bold;
}
.items{
    margin-left: 20px;
}