.pretty{
    display: block;
    margin: 20px 0;
    font-size: 1.6rem;
}
.mod-grp{
    padding: 20px;
    border: 1px solid #ccc;
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
}
.plan-label{
    display: block;
    font-size: 1.4rem;
    margin-bottom: 5px;
}
.plan-input{
    padding: 5px;
    width: 100%;
    box-sizing: border-box; 
    font-size: 1.4rem !important;
}