<div class="animated pulse">
  <div class="modal-header-wrap">
      <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
      <legend class="modal_title">Jonathan Nelson</legend>
      <div class="modal_mini_title">Company Bills History</div>
      <div class="modal_mini_title">11th October 2017</div>
  </div>
  <div class="modal-baseWrap">
    <table class="workspace-tbl" cellpadding="0" cellspacing="0" border="0.5">
      <thead>
          <tr>
              <th>
                  <span style="padding-left: 3px;">Patient</span>
              </th>
              <th>
                  <span style="padding-left: 3px;">Service</span>
              </th>
              <th>
                  <span style="padding-left: 3px;">Amount</span>
              </th>
              <th>
                  <span style="padding-left: 3px;">Type</span>
              </th>
              <th>Status</th>
          </tr>
      </thead>

      <tbody>
          <tr>
              <td>
                <div class="empWrap">
                    <div class="list-img">
                        <img src="assets/images/users/default.png">
                    </div>
                    <div>Sam Rolins</div>
                </div>
              </td>
              <td>Patient Registration</td>
              <td class="td-worspace">&#8358; 12,200</td>
              <td>Capitation</td> 
              <td><span class="green-txt">Approved</span></td>
          </tr>
          <tr>
                <td>
                    <div class="empWrap">
                        <div class="list-img">
                            <img src="assets/images/users/default.png">
                        </div>
                        <div>Sam Rolins</div>
                    </div>
                </td>
              <td>Patient Registration</td>
              <td class="td-worspace">&#8358; 12,200</td>
              <td>Fee for service</td> 
              <td><span class="red-txt">Declined</span></td>
          </tr>
          <tr>
                <td>
                    <div class="empWrap">
                        <div class="list-img">
                            <img src="assets/images/users/default.png">
                        </div>
                        <div>Sam Rolins</div>
                    </div>
                </td>
              <td>Patient Registration</td>
              <td class="td-worspace">&#8358; 12,200</td>
              <td>Capitation</td> 
              <td><span class="green-txt">Approved</span></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>