<button (click)="setup();" [disabled]="disableBtn" class="btn {{ btnColor }} btn-medium cta">
    <span>{{ btnTitle }}</span>
</button>
<!-- <button (click)="setup();" class="btn btn-medium btn-blue cta" data-PBFPubKey="FLWPUBK-8da67f59fe34994e78c5f77022ba8178-X" data-txref="rave-checkout-1511132266" data-amount="50000" data-customer_email="user@example.com" data-currency="NGN" data-pay_button_text="e-Payment"
    data-country="NG" data-custom_title="Sabaoth" data-custom_description="" data-redirect_url="" data-custom_logo="" data-payment_method="both" data-exclude_banks=""></button> -->