<ul class="analytics">
	<li class="analytic">
		<div class="analytic-lhs">{{inventoryItemCount | number}}</div>
		<div class="analytic-rhs">Inventory Items</div>
	</li>
	<li class="analytic">
		<div class="analytic-lhs">{{expiredInventoryItemCount | number}}</div>
		<div class="analytic-rhs">Expired Items</div>
	</li>
	<li class="analytic">
		<div class="analytic-lhs">{{aboutToExpiredInventoryItemCount}}</div>
		<div class="analytic-rhs">About to Expire</div>
	</li>
	<li class="analytic">
		<div class="analytic-lhs">{{requireReOrderInventoryItemCount}}</div>
		<div class="analytic-rhs">Require Reorder</div>
	</li>
	<li class="analytic">
		<div class="analytic-lhs">{{outOfStockInventoryItemCount| number}}</div>
		<div class="analytic-rhs">Out of Stock</div>
	</li>
	<li class="analytic">
		<div class="analytic-lhs">{{transactionInventoryItemCount|number}}</div>
		<div class="analytic-rhs">Transaction</div>
	</li>
	<li class="analytic">
		<div class="analytic-lhs">{{revenueInventoryItemCount| number}}</div>
		<div class="analytic-rhs">Revenue</div>
	</li>
</ul>;