@import '../../../store-manager/new-store/new-store.component.scss';
@import '../../../clinic/check-in-patient/check-in-patient.component.scss';
.sec-full {
    width: 100%;
    position: relative;
}

.modal-baseWrap {
    min-width: 600px;
}

.suggestions {
    position: absolute;
    top: 47px;
    max-height: 195px;
    overflow-y: auto;
    width: 100%;
    background: #fff;
    border: 1px solid #777;
    z-index: 3;
    padding: 5px;
    box-sizing: border-box;
}

.suggestion {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;
}

.suggestion:hover {
    background: #eee;
}

.listing-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 10px;
}

.listing-img img {
    width: 100%;
}