<h3>Create purchase list</h3>
<span>Select products you will like to add to the purchase list below this table, Click Add items to purchase list when
  done</span>


<div class="div-space"></div>

<div class="sel-sup">
  <div class="input-group-x2">
    <div class="dropDown-container">
      <div class="select">
        <select [formControl]="supplierFormControl" name="dropDown-container" id="dropDown-container">
          <option value="0">Select Supplier</option>
          <option *ngFor="let supplier of suppliers" [ngValue]="supplier">{{supplier.supplier.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="input-group-x2">
    <div class="dropDown-container">
      <div class="select">
        <select [formControl]="purchaseListFormControl" name="dropDown-container" id="dropDown-container">
          <option value="0">Select Purchase List</option>
          <option *ngFor="let list of purchaseListCollection" [ngValue]="list">{{list.purchaseListNumber}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="InputGroup" style="margin-left:30px;">
    <input [formControl]="currentDate" class="customInput" type="date" required>
    <span class="highlight"></span>
    <label class="customLabel">Date Required</label>
  </div>
</div>

<div class="div-space"></div>

<div class="filterTop">
  <div class="searchproduct">
    <div class="InputGroup">
      <input class="customInput" [formControl]="productConfigSearch" (focus)="onFocus('in')" (focusout)="onFocus('out')"
        type="text" required>
      <span class="highlight"></span>
      <label class="customLabel"><i class="fa fa-search" aria-hidden="true"></i>Search...</label>
    </div>
  </div>
  <div class="tbl-header-rhs">
    <div>
      <h3>Show:</h3>
    </div>
    <div [className]="selectedFilterIndex === i ? 'ft-btn ft-btn-selected' : 'ft-btn'" *ngFor="let filter of storeFilters; let i = index"
      (click)="setSelectedFilter(i,filter)">
      <span>{{filter}}</span>
    </div>
  </div>
</div>

<div class="store-table">
  <div class="store-thead">
    <div class="store-tr">
      <div class="store-th store-td-actions">
        <input type="checkbox">
      </div>
      <div class="config-tr-in in-tr">
        <div class="store-th">Products</div>
        <div class="store-th">Available Quantity</div>
        <div class="store-th">Re-Order Level</div>
        <div class="store-th">Cost/Unit</div>
        <div class="store-th">Total Cost Price</div>
        <div class="store-th">Unit Selling Price</div>
      </div>
      <div class="store-th store-td-actions"></div>
    </div>
  </div>

  <div class="store-tbody">
    <div class="store-pre-tr">
      <div class="store-tr" *ngFor="let picked of productConfigs">
        <div class="store-td store-td-actions">
          <input type="checkbox" [checked]="picked.isChecked" (change)="setSelectedOption($event, picked)">
        </div>
        <div class="config-tr-in in-tr">
          <div class="store-td">{{picked.productName}}</div>
          <div class="store-td">{{picked.availableQuantity | number}} {{picked.productConfiguration.name}}</div>
          <div class="store-td">{{picked.reOrderLevel}} {{picked.productConfiguration.name}}</div>
          <div class="store-td">
            <app-apmis-naira></app-apmis-naira>{{picked.costPrice}}/{{picked.productConfiguration.name}}
          </div>
          <div class="store-td">
            <app-apmis-naira></app-apmis-naira>{{picked.costPrice * picked.availableQuantity | number}}
          </div>
          <div class="store-td">
            <app-apmis-naira></app-apmis-naira>{{picked.price|number}}/{{picked.productConfiguration.name}}
          </div>
        </div>
        <div class="store-td store-td-actions">
          <div class="table-list col-xs-1 action-placeholder">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            <div class="action-container shadow-RB">
              <div class="action-item">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <span>Edit</span>
              </div>
              <div class="action-item">
                <i class="fa fa-trash" aria-hidden="true"></i>
                <span>Delete</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-apmis-pagination (emitCurrentPage)="loadCurrentPage($event)" [total]="total"></app-apmis-pagination>
</div>

<div class="div-space"></div>
<h3 class="sel-txt">{{selectedProducts.length}} Items selected and added to purchase list</h3>
<div class="div-space"></div>

<div class="store-table">
  <div class="store-thead">
    <div class="store-tr">
      <div class="store-th store-td-actions">
        <input type="checkbox">
      </div>
      <div class="config-tr-in in-tr">
        <div class="store-th">Products</div>
        <div class="store-th">Unit</div>
        <div class="store-th">Quantity Required</div>
        <div class="store-th">Cost/Unit</div>
        <div class="store-th">Total Cost Price</div>
        <div class="store-th">Actions</div>
      </div>
      <div class="store-th store-td-actions"></div>
    </div>
  </div>

  <div class="store-tbody">
    <div class="store-pre-tr">
      <div class="store-tr" *ngFor="let picked of selectedProducts">
        <div class="store-td store-td-actions">
          <input type="checkbox">
        </div>
        <div class="config-tr-in in-tr">
          <div class="store-td">{{picked.productName}}</div>
          <div class="store-td">{{picked.productConfiguration.name}}</div>
          <div class="store-td">
            <div class="InputGroup input-space">
              <input min="0" [(ngModel)]="picked.quantity" class="customInput" type="number" required>
              <span class="highlight"></span>
            </div>
            <span>{{picked.productConfiguration.name}}</span>
          </div>
          <div class="store-td">#{{picked.costPrice}}/{{picked.productConfiguration.name}}</div>
          <div class="store-td">#{{picked.costPrice * picked.quantity}} </div>
          <div class="store-td">
            <div class="btc-body-item item-action">
              <i class="fa fa-2x fa-pencil-square" aria-hidden="true"></i>
              <i class="fa fa-2x fa-times-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="div-space"></div>

<hr>
<div class="sv-btn-container">
  <h3 class="sel-txt">Send purchase Order with {{selectedProducts.length}} items to
    {{supplierFormControl?.value?.supplier?.name}}?</h3>
  <div (click)="submit()" class="new-btn-solid-blue">
    <span>Send Purchase Order</span>
  </div>
</div>