<div class="animated pulse">
    <div class="modal-header-wrap">
        <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
        <legend class="modal_title">Corporate Facility</legend>
        <div class="modal_mini_title">All Purpose Medical Information System</div>
    </div>
    <div class="modal-baseWrap">

        <div *ngIf="sg1_1_1_show" class="infoAlert"><i class="fa fa-info-circle" aria-hidden="true"></i>Note that a verification token will be sent to the number supplied below</div>
        <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>

        <div *ngIf="sg1_show" class="f_sg1">
            <form [formGroup]="facilityForm1" novalidate>
                <div>
                    <div class="frm-item-wrap">
                        <mat-input-container class="example-full-width">
                            <input matInput mat-error placeholder="Company Name" formControlName="facilityname">
                        </mat-input-container>
                    </div>
                    <div class="frm-item-wrap">
                        <mat-input-container class="example-full-width">
                            <input type="email" matInput mat-error placeholder="Company Email" formControlName="facilityemail">
                        </mat-input-container>
                    </div>
                </div>

                <div class="rhs">
                    <div class="frm-item-wrap">
                        <mat-input-container class="example-full-width">
                            <input type="url" matInput mat-error placeholder="Official Website" formControlName="facilitywebsite">
                        </mat-input-container>
                    </div>
                    <div class="frm-item-wrap">
                        <mat-form-field>
                            <mat-select placeholder="Select Country" formControlName="facilitycountry">
                                <mat-option *ngFor="let item of countries" [value]="item._id">{{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="clear"></div>
                <div (click)="facilitySetup1(facilityForm1.valid, facilityForm1.value, selectedCountry.value)" class="cta-1">CONTINUE</div>
            </form>
        </div>

        <div *ngIf="sg1_1_show" class="f_sg_1 animated zoomIn">
            <form [formGroup]="facilityForm1_1" novalidate>
                <div>
                    <div class="frm-item-wrap">
                        <mat-form-field>
                            <mat-select *ngIf="stateAvailable" placeholder="Facility State" formControlName="facilitystate" (change)="onStateChange($event.value)">
                                <mat-option *ngFor="let state of selectedCountry?.states" [value]="state">{{state.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <input [hidden]="stateAvailable" matInput mat-error placeholder="Facility State" formControlName="facilitystate">
                    </div>
                    <div class="frm-item-wrap">
                        <mat-form-field>
                            <mat-select placeholder="City" *ngIf="stateAvailable" formControlName="facilitycity">
                                <mat-option *ngFor="let item of cities" [value]="item._id">{{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="frm-item-wrap">
                        <mat-form-field>
                            <mat-select placeholder="Local Government" *ngIf="stateAvailable" formControlName="facilitylga">
                                <mat-option *ngFor="let item of lgas" [value]="item._id">{{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="frm-item-wrap">
                        <mat-input-container>
                            <input matInput mat-error placeholder="Facility Address" formControlName="facilityaddress">
                        </mat-input-container>
                    </div>
                    <div class="frm-item-wrap">
                        <mat-input-container>
                            <input matInput mat-error placeholder="Major Landmark" formControlName="facilitylandmark">
                        </mat-input-container>
                    </div>
                </div>
                <div class="rhs">
                    <div class="frm-item-wrap">
                        <mat-input-container>
                            <input matInput mat-error placeholder="Contact Person (First Name)" formControlName="contactFName">
                        </mat-input-container>
                    </div>
                    <div class="frm-item-wrap">
                        <mat-input-container>
                            <input matInput mat-error placeholder="Contact Person (Last Name)" formControlName="contactLName">
                        </mat-input-container>
                    </div>
                    <div class="frm-item-wrap">
                        <mat-input-container>
                            <input type="tel" matInput mat-error placeholder="Contact Number" formControlName="facilityphonNo">
                        </mat-input-container>
                    </div>
                    <div class="frm-item-wrap">
                        <mat-input-container class="example-full-width">
                            <i *ngIf="show" (click)="toggleShow($event)" class="fa fa-lock toggle-pass" aria-hidden="true"></i>
                            <input type="password" matInput mat-error formControlName="password" #showhideinput placeholder="Password">
                            <a [hidden]="show" (click)="toggleShow($event)" class="toggle-pass"><i class="fa fa-eye"></i></a>
                        </mat-input-container>
                    </div>

                    <div class="frm-item-wrap">
                        <mat-input-container class="example-full-width">
                            <i *ngIf="show" (click)="toggleShow($event)" class="fa fa-lock toggle-pass" aria-hidden="true"></i>
                            <input type="password" matInput mat-error formControlName="repass" #showhideinput placeholder="Confirm Password">
                            <a [hidden]="show" (click)="toggleShow($event)" class="toggle-pass"><i class="fa fa-eye"></i></a>
                        </mat-input-container>
                    </div>
                </div>
                <div class="clear"></div>
                <div (click)="back_facilityForm1_1()" class="backBtn"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Go Back</div>
                <div (click)="facilitySetup1_1(facilityForm1_1.valid, facilityForm1_1.value)" class="cta-1">CONTINUE</div>
            </form>
        </div>

        <div *ngIf="sg2_show" class="f_sg2 animated zoomIn">
            <ngb-alert [dismissible]="false" *ngIf="isSuccessful" type="success">
                {{closeMsg}}
            </ngb-alert>
            <form *ngIf="!isSuccessful" [formGroup]="frm_numberVerifier" novalidate>
                <div class="frm-singleItem-wrap">
                    <mat-input-container>
                        <input matInput mat-error [(ngModel)]="InputedToken" placeholder="Supply Token" formControlName="txt_numberVerifier">
                    </mat-input-container>
                </div>
                <div class="noToken_wrap">
                    <div class="noToken_txt1">...Didn't recieve a token on <span>{{input_facilityphonNo}}</span>?</div>
                    <div class="noToken_txt2">Resend Token</div>
                </div>
                <div (click)="back_verifier()" class="backBtn"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Go Back</div>
                <div (click)="numberVerifier(frm_numberVerifier.valid)" class="cta-1">VERIFY & COMPLETE</div>
            </form>
        </div>

        <div *ngIf="sg3_show" class="f_sg3 animated zoomIn">
            <!-- file uploader -->
            <input type="file" (change)="imageChange($event)">
            <div (click)="back_logoUp()" class="backBtn"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Go Back</div>
            <div (click)="f_sg4_show()" class="cta-1">CONTINUE</div>
        </div>
    </div>
</div>