@import "../../employees/employeemanager-detailpage/generate-user/generate-user.component.scss";
// @import "../../create-workspace/create-workspace.component.scss";

.pp-card{
    position: relative;
    background: #fff;
    width: 30%;
    min-height: 300px;
    border: 1px solid #bebebe;
    margin-bottom: 20px;
}
.work-places-item{
    position: relative;
}
.work-places-item:hover{
    .tip {
        display: block;
    }
}
.tip {
    display: none;
    position: absolute;
    right: 2px;
    top: -5px;
    background: #ff2500;
    padding: 2px 5px;
    border-radius: 7px;
    color: #fff;
}

.modal_mini_title{
    margin: 0px auto;
    font-size: 1.4rem;
    color: #fff;
    text-align: center;
}

.modal-baseWrap {
    width: 720px;
    //@extend .nice-scroll;
    position: relative;
    // width: 590px;
    min-width: 420px;
    height: auto;
    background: #fff;
    overflow: auto;
    padding: 20px 50px;
    box-sizing: border-box;
    -webkit-box-shadow: 2px 16px 31px 0px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 2px 16px 31px 0px rgba(0, 0, 0, 0.54);
    box-shadow: 2px 16px 31px 0px rgba(0, 0, 0, 0.54);
}

.modal-baseWrap .mat-input-container {
    width: 282px;
}


@media only screen and (max-width: 500px) {
    .modal-baseWrap .mat-input-container {
        width: 100%;
    }
    .emp-wrap{
        width: 100%;
    }
    .sec-1, .sec-2{
        width: 100%;
        float: unset;
    }
}


.emp-wrap {
    border: 1px solid #ccc;
    width: 600px;
    height: 200px;
    /* background: #eee; */
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 20px;
}

.btn-box {
    text-align: center;
    padding: 30px;
}

.inner-menu1-wrap {
    top: auto;
}

.title-label {
    margin: 0 auto;
    margin-top: 20px;
}

.top-tab-search {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #bdbdbd;
    width: 200px;
}

.modal_title {
    font-size: 1.6rem;
}

.modal-content-wrap {
    justify-content: center;
}

.inner-menu1-wrap {
    right: 20px;
    left: auto;
}

.inner-menu1-wrap i {
    text-align: right;
}

.searchWrap {
    top: 36px;
}

.noToken_wrap {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.2rem;
    color: #616161;
}

.noToken_txt1 span {
    border-bottom: 1px solid;
    color: #0D47A1;
    margin: 0px 5px;
    cursor: pointer;
}

.noToken_txt1 span:hover {
    color: #ff2500;
}

.noToken_txt2 {
    text-decoration: underline;
    color: #ff2500;
    cursor: pointer;
    width: 105px;
    margin: 10px auto;
}

.noToken_txt2:hover {
    color: #0D47A1;
}

.file-over {
    height: 200px;
    border: dotted 3px red;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #616161;
}

.f_sg3 input {
    border-bottom: 0px;
}

.control-group {
    display: inline-block;
    width: 200px;
    margin: 10px;
    padding: 30px;
    text-align: left;
    vertical-align: top;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}

.control {
    font-size: 18px;
    position: relative;
    display: block;
    margin-bottom: 15px;
    padding-left: 30px;
    cursor: pointer;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    background: #f5f5f5;
}

.control--radio .control__indicator {
    border-radius: 50%;
}


/* Hover and focus states */

.control:hover input~.control__indicator,
.control input:focus~.control__indicator {
    background: #EEEEEE;
}


/* Checked state */

.control input:checked~.control__indicator {
    background: #2aa1c0;
}


/* Hover state whilst checked */

.control:hover input:not([disabled]):checked~.control__indicator,
.control input:checked:focus~.control__indicator {
    background: #0e647d;
}


/* Disabled state */

.control input:disabled~.control__indicator {
    pointer-events: none;
    opacity: .6;
    background: #e6e6e6;
}


/* Check mark */

.control__indicator:after {
    position: absolute;
    display: none;
    content: '';
}


/* Show check mark */

.control input:checked~.control__indicator:after {
    display: block;
}


/* Checkbox tick */

.control--checkbox .control__indicator:after {
    top: 4px;
    left: 8px;
    width: 3px;
    height: 8px;
    transform: rotate(45deg);
    border: solid #fff;
    border-width: 0 2px 2px 0;
}


/* Disabled tick colour */

.control--checkbox input:disabled~.control__indicator:after {
    border-color: #7b7b7b;
}


/* Radio button inner circle */

.control--radio .control__indicator:after {
    top: 7px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}


/* Disabled circle colour */

.control--radio input:disabled~.control__indicator:after {
    background: #7b7b7b;
}

.searchWrap {
    display: flex;
    align-items: center;
    position: absolute;
    top: 86px;
    right: 22px;
}

.searchWrap i {
    color: #bdbdbd;
    font-size: 2.4rem;
    padding-left: 10px;
    cursor: pointer;
}

.searchWrap i,
.searchWrap input {
    margin: 0;
}

.featuresMainWrap {
    position: relative;
    //margin-top: -5px;
    // margin-right: 5px;
    // margin-left: 5px;
    //padding: 15px;
}

.btn-back {
    width: 20px;
    display: block;
    color: rgba(16, 150, 212, 0.89);  
    padding-left: 50px;
    padding-bottom: 10px; 
    font-size: 20px ;
}

.as-card {
    position: relative;
    background: #fff;
    width: 20%;
    min-height: 100px;
    // border: 1px solid #bebebe;
    margin-bottom: 20px;
}

.as-count-sect {
    position: relative;
    padding-bottom: 15px;
}

.card-seperator {
    width: 100%;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.cad-head {
    position: relative;
    background: #f1f1f1;
    overflow: hidden;
    height: 40px;
    border-bottom: 1px solid rgb(139, 138, 138);
}

.module-label {
    font-size: 17px;
    width: 100%;
    text-align: center;
    color: #5d86b8;
    font-weight: bold;
    padding-top: 10px;
}

.access-wrap {
    background: #f1f1f1;
    min-height: 100vh;
}

.access-content-sect {
    width: 100%;
    display: flex;
}

.moduleside-sect {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}

.table-content {
    padding: 10px;
    font-size: 12px;
}

table {
    width: 100%;
    position: relative;
    border-collapse: collapse;
    font-size: 1.2rem;
    background: #fff;
    margin-top: 20px;
}

table,
td {
    border: 0.5px solid $td-border;
}

th {
    height: 50px;
    background: $th-background;
    border: 0.5px solid $th-border;
}

td {
    vertical-align: center;
    text-align: center;
    padding: 2px;
}

tr:hover {
    background-color: $tr-hover
}

tr:nth-child(even) {
    background-color: $tr-stripe
}

.right-column {
    float: left;
    // width: 50%;
    // padding-top: 10px;
    // padding-bottom: 10px;
    box-sizing: border-box;
    margin-left: 50px;
    // position: relative;
    // background: #fff;
    // min-height: 300px;
    // margin-bottom: 20px;

    position: relative;
    background: #fff;
    width: 100%;
    min-height: 300px;
    border: 1px solid #bebebe;
    margin-bottom: 20px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-left: 10px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.4rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}


/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.container input:checked~.checkmark {
    background-color: #2196F3;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#txtAccessName {
    border-radius: 0;
    border: 0;
    border: 1px solid #bdbdbd;
    background: transparent;
    font-size: 1.8rem;
    width: 520px;
    border-radius: 20px;
    text-align: center;
}

.btn-create {
    border: 1px solid #0288d1;
}

.btning {
    color: #0288d1;
    background: transparent;
    padding: 10px 10px;
    font-size: 1.2rem;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.second-menu {
    margin: 27px auto 0;
    width: 90%;
    text-align: center;
}

.btning:hover {
    background: rgba(0, 0, 0, 0.4);
    background: #fff;
    padding: 10px 10px;
    color: #1b1b1b;
    border: 1px solid #0288d1;
    cursor: pointer;
    transition: ease-out;
    transition-delay: .3s;
}
.checkwrap{
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 5px;
}

.active{
    background-color: #eee;
}