<div class="box animated pulse">
    <div class="modal-header-wrap">
        <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
        <legend class="modal_title">Add Medication</legend>
        <div class="modal_mini_title">All Purpose Medical Information System</div>
    </div>
    <div class="modal-baseWrap animated pulse">
       <!-- <form class="survery" [formGroup]="addPrescriptionForm" novalidate>
            <div class="frmArrWrap">
                <div class="row padding-top-20px">
                    <div class="col-sm-7 col-md-7">
                        <apmis-lookup formControlName="drug" [url]="apmisLookupUrl" [query]="apmisLookupQuery" [isSocket]="true" [displayImage]="false" [multipleKeys]="false" [displayKey]="apmisLookupDisplayKey" placeholder="Drug" (selectedItem)="apmisLookupHandleSelectedItem($event)"></apmis-lookup>
                    </div>
                    <div class="col-sm-5 col-md-5">
                        <div class="input-bg cacaca">
                            <div class="input-group">
                                <mat-form-field>
                                    <input matInput formControlName="dosage" placeholder="Dosage">
                                </mat-form-field>
                                <div class="input-group-btn">
                                    <mat-form-field class="mat-select" style="margin-top: 0px;">
                                        <mat-select formControlName="dosageUnit" placeholder="Dosage Unit" [(ngModel)]="selectedDosage">
                                            <mat-option *ngFor="let dosage of dosageUnits" [(value)]="dosage.name">
                                                {{ dosage.name }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row padding-top-20px">
                    <div class="col-xs-7 no-padding-right" formArrayName="regimenArray">
                        <div *ngFor="let regimen of addPrescriptionForm.controls['regimenArray']['controls']; let i=index;">
                            <div class="col-xs-12 no-padding-left no-padding-right" [formGroupName]="i">
                                <div class="col-xs-4 no-padding-left no-padding-right">
                                    <mat-form-field class="mat-select" style="margin-top: 0px;">
                                        <mat-select formControlName="frequency" placeholder="Frequency" class="example-full-width mat-select">
                                            <mat-option *ngFor="let frequency of frequencies" [value]="frequency.name">
                                                {{ frequency.name }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-xs-7 no-padding-left no-padding-right">
                                    <div class="input-bg cacaca">
                                        <div class="input-group">
                                            <mat-form-field>
                                                <input matInput type="number" formControlName="duration" placeholder="Duration" autocomplete="off">
                                            </mat-form-field>
                                            <div class="input-group-btn">
                                                <mat-form-field class="mat-select" style="margin-top: 0px;">
                                                    <mat-select placeholder="Unit" formControlName="durationUnit">
                                                        <mat-option *ngFor="let unit of durationUnits" [value]="unit.name">
                                                            {{ unit.name }}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="addPrescriptionForm.controls['regimenArray'].controls.length > 1"  class="col-xs-1 no-padding-left no-padding-right" style="margin-top: 20px;">
                                    <i (click)="onClickRemoveRegimen(i);" class="fa fa-minus fa-2x add-regimen-btn"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-1 no-padding-left no-padding-right" style="margin-top: 20px;">
                        <i (click)="onClickAddRegimen();" class="fa fa-plus fa-2x add-regimen-btn"></i>
                    </div>
                    <div class="col-xs-4 no-padding-left">
                        <div class="col-xs-6 no-padding-left no-padding-right">
                            <mat-form-field>
                                <input type="number" matInput formControlName="refillCount" placeholder="Refill Count">
                            </mat-form-field>
                        </div>
                        <div class="col-xs-6 no-padding-left no-padding-right">
                            <mat-form-field>
                                <input matInput formControlName="startDate" [matDatepicker]="picker" placeholder="Start Date">
                                <mat-icon matSuffix>
                                    <mat-datepicker-toggle mdSuffix [for]="picker"></mat-datepicker-toggle>
                                </mat-icon>
                            </mat-form-field>
                            <mat-datepicker #picker></mat-datepicker>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <mat-input-container>
                            <textarea matInput formControlName="specialInstruction" class="textarea" placeholder="Special Instruction" cols="30" rows="4"></textarea>
                        </mat-input-container>
                    </div>
                </div>
            </div>

            <div class="addDrugBtn" (click)="onClickAddMedication(addPrescriptionForm.valid, addPrescriptionForm.value);">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span>ADD MEDICATION</span>
            </div>
        </form>
         <app-prescribe-drug-notable></app-prescribe-drug-notable> -->
        <app-drug-orderset></app-drug-orderset>
    </div>
</div>