@import "../../../../forms-manager/treatement-template/template-medication/template-medication.component.scss";
.modal-baseWrap {
    padding: 30px 10px;
}

.box {
    width: auto;
    max-width: 900px;
}