<div class="survery">
    <div class="">
        <div class="table-container">
            <div class="row">
                 <div class="col-sm-4">
                    <select [formControl]="selProductType" class="form-control">
                        <option value="" disabled selected>Select by type</option>
                        <option *ngFor="let productType of productTypes" value="{{productType._id}}">{{productType.name}}</option>
                    </select>
                </div>
                <div class="col-sm-4 pull-right">
                    <input [formControl]="searchControl" type="search" placeholder="Search..." class="searchInput" />
                    <a (click)="refresh()"><i class="fa fa-refresh"></i></a>
                </div>
            </div>
        </div>
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th><i class="fa fa-sort-alpha-asc"></i>Name(Brand)</th>
                    <th><i class="fa fa-sort-alpha-asc"></i>Type</th>
                    <th><i class="fa fa-sort-alpha-asc"></i>Presentation</th>
                    <th><i class="fa fa-sort-alpha-asc"></i>Generic Name</th>
                    <th><i class="fa fa-sort-alpha-asc"></i>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="8" class="td-col-span-8">
                       
                    </td>
                </tr>
                <tr *ngIf="products.length == 0">
                    <td colspan="5"> No data available in table</td>
                </tr>
                <tr *ngFor="let product of products">
                    <td>{{product.name}}</td>
                    <td>{{product.productType?.name}}</td>
                    <td>{{product.productPresentation?.name}}</td>
                    <td>{{product.genericName}}</td>
                    <td>
                        <a class="action-btn" (click)="slideProductDetailsToggle(product, {})"><i class="fa fa-eye"></i></a>
                        <a class="action-btn" (click)="onSelectProduct(product)"><i class="fa fa-pencil"></i></a>
                        <a class="action-btn"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="">
        <div (click)="addPharmacyModal()" class="col-md-12">
            <a id="floating-button">
                <p class="plus">+</p>
            </a>
        </div>
    </div>
    <!-- float button -->

    <div *ngIf="slideProductDetails" class="inPatient-activityTimeline shadow-RB animated slideInRight">
        <div (click)="slideProductDetailsToggle(appointment, $event)" class="hide-actionWrap">
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        </div>

        <div class="timeline-headwrap">
            <select name="" id="">
                <option value="0">Select a product</option>
            </select>
        </div>
        <div class="timeline-active">
            <span *ngIf="selectedProduct?.isActive==true" class="text-green pull-right">Active</span>
            <span *ngIf="selectedProduct?.isActive!=true" class="text-red pull-right">InActive</span>
        </div>
        <h4 class="title">{{selectedProduct?.name}}</h4>

        <div class="product-details">
            <div>
                <table>
                    <tbody>
                        <tr>
                            <td>Product Name(brand)</td>
                            <td>{{selectedProduct?.name}}</td>
                        </tr>
                        <tr>
                            <td>Category</td>
                            <td>{{selectedProduct?.productType.name}}</td>
                        </tr>
                        <tr>
                            <td>Generic Name</td>
                            <td>{{selectedProduct?.genericName}}</td>
                        </tr>
                        <tr>
                            <td>Pack Size</td>
                            <td>{{selectedProduct?.packSize}}</td>
                        </tr>
                        <tr>
                            <td>Presentation</td>
                            <td>{{selectedProduct?.productPresentation?.name}}</td>
                        </tr>
                        <tr>
                            <td>Manufacturer</td>
                            <td>{{selectedProduct?.manufacturer.name}}</td>
                        </tr>
                    </tbody>

                </table>
            </div>

            <div class="btn-container">
                <button (click)="onEdit()" class="btn btn-primary">Edit</button>
                <button (click)="onDeactivate(selectedProduct)" class="btn btn-primary">{{deactivateButton}}</button>
                <button class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>

</div>
