@import '../../../module-menu/patient-manager/patientmanager-detailpage/payment/wallet/wallet.component.scss';

.wallet-summary{
    background: transparent;
    color: #000;
    border: 1px solid #777;
}
.head{
    align-items: flex-end;
}