@import "../../../../globals/variables.scss";

.inner-page-contentArea {
    padding: 0;
}
.menuContent{
    width: 73%;
}
th {
    height: 50px !important;
    background: #337ab7 !important;
    border: 0.5px solid !important;
    border-color: #3e51b8 !important;
    color: white !important;
    padding-left: .8em !important;
}