<div class="tbl-resp-wrap">
  <table class="workspace-tbl" cellpadding="0" cellspacing="0" border="0.5">
    <thead>
      <tr class="th-r1 th-xxx">
        <th style="width: 5%;">S/N</th>
        <th style="width: 40%;">Prescription</th>
        <th style="width: 35%;">Special Instruction</th>
        <th style="width: 20%;">Action</th>
      </tr>
    </thead>

    <tbody>
      <tr class="th-xxx" *ngFor="let item of currentPrescription.prescriptionItems; let i = index">
        <td>{{i+1}}</td>
        <td>{{item.genericName}}<br>
          <span *ngFor="let reg of item?.regimen">
            {{reg?.dosage }} - {{reg?.frequency }} for {{ reg?.duration }} {{ reg?.durationUnit }},
          </span>
          {{ item?.patientInstruction }} (Refills:{{item.refillCount }})
          <br>
          <span *ngIf="item.isBilled" style="color:#2e7d32;">
            Drug: {{ item?.productName?.name }}, Quantity: {{ item?.quantity }}, Unit
            Price: {{item?.cost }}, Cost: {{ item?.totalCost }}
          </span>
          <div class="td-wrap">
            <!-- <div class="caution-note">
              <i class="fa fa-exclamation-circle"></i>
              <i class="">Patient is allergic to benzoin </i>
              <i>View</i>
            </div>
            <div class="caution-note">
              <i class="fa fa-exclamation-circle"></i>
              <i class="">Patient reacts to benzoin </i>
              <i>View</i>
            </div>
            <div class="caution-note">
              <i class="fa fa-exclamation-circle"></i>
              <i class="">Duplicate Prescription</i>
              <i>View</i>
            </div> -->
            <div *ngIf="item.isRefill === true" class="ft-btn  disabled">
              <span>Refill</span>
            </div>
          </div>
        </td>
        <td class="align-top">{{item.patientInstruction}}</td>
        <td>
          <div class="action-tbl">
            <div class="btn-tbl" (click)="onBillShow(item)">
              <span>Bill</span>
            </div>
            <div class="custom-chk">
              <input type="checkbox" id="externalCheck">
              <label for="externalCheck">External</label>
            </div>
          </div>
          <div (click)="removePrescription(item)" class="fa-act"><a class="fa fa-trash"></a>Remove Prescription</div>
        </td>
      </tr>
      <!-- <tr class="th-xxx">
  <td>1</td>
  <td>Compound benzoin tincture 45 MG/ML Gas for Inhalation - 3 mL, Every six hours for 4 Hours,
    (0)
    <div class="td-wrap">
      <div class="caution-note">
        <i class="fa fa-exclamation-circle"></i>
        <i class="">Patient is allergic to benzoin </i>
        <i>View</i>
      </div>
      <div class="caution-note">
        <i class="fa fa-exclamation-circle"></i>
        <i class="">Patient reacts to benzoin </i>
        <i>View</i>
      </div>
      <div class="caution-note">
        <i class="fa fa-exclamation-circle"></i>
        <i class="">Duplicate Prescription</i>
        <i>View</i>
      </div>
      <div class="ft-btn  disabled">
        <span>Refill</span>
      </div>
    </div>
  </td>
  <td></td>
  <td>
    <div class="action-tbl">
      <div class="btn-tbl" (click)="onBillShow()">
        <span>Bill</span>
      </div>
      <div class="custom-chk">
        <input type="checkbox" id="externalCheck">
        <label for="externalCheck">External</label>
      </div>
    </div>
    <div class="fa-act"><a class="fa fa-trash"></a>Remove Prescription</div>
  </td>
</tr> -->
    </tbody>
  </table>
</div>

<div class="div-space"></div>

<div class="frm btm-action" *ngIf="showAuthorize">
  <div class="frm-1 btnWrap">
    <div class="sel" style=" width: 40% !important;">
      <select [(ngModel)]="selectedPriority">
        <option value="" disabled selected>Priority</option>
        <option *ngFor="let priority of priorities" [ngValue]="priority">{{priority.name}}</option>
      </select>
    </div>
    <div [class.disabled]="currentPrescription.prescriptionItems.length === 0" (click)="authorizePrescription()" class="new-btn-solid-blue">
      <span>Authorize RX</span>
    </div>
  </div>
</div>


<div *ngIf="billShow" class="bill-view-wrap animated slideInRight">
  <app-prescription-bill [drug]="selectedPrescriptionItem" (closeModal)="close_onClick($event)" id="form-modal"></app-prescription-bill>
</div>