@import "../home-page.component.scss";
@import "../../../../globals/variables.scss";

.pp-card table{
    margin-top: 10px;
}
.date-label{
    font-style:italic; 
    margin-right:10px;
    color:#ff2500;
}
