.modal-baseWrap{
    width: auto !important;
}
.loadingError {
    color: crimson;
}
.loadingError i{
    font-size: 4em;
    margin-bottom: .3em;
    display: inline-block;
    text-align: center !important;
    width: 100%;
}