<div class="pg-main-wrap">
    <div class="pos">
        <div class="pos-title">Point of Sale</div>
        <div class="search-wrap">
            <input (keydown)="onKeydown()" type="text" class="search-prod" [formControl]="searchProduct" placeholder="search for product">

            <ul *ngIf="suggest" class="input-sugestions">
                <li (click)="suggestion_click()" class="input-sugestion">Abaloparatide Injection</li>
                <li (click)="suggestion_click()" class="input-sugestion">Bacillus Calmette-Guerin (BCG) Vaccine</li>
                <li (click)="suggestion_click()" class="input-sugestion">Progestin-Only Oral Contraceptives</li>
                <li (click)="suggestion_click()" class="input-sugestion">Abaloparatide Injection</li>
                <li (click)="suggestion_click()" class="input-sugestion">Progestin-Only Oral Contraceptives</li>
            </ul>
        </div>

        <table cellpadding="0" cellspacing="0" border="0.5">
            <thead>
                <tr>
                    <th>
                        <span style="padding-left: 3px;">Product</span>
                    </th>
                    <th>
                        <span style="padding-left: 3px;">Qty</span>
                    </th>
                    <th>
                        <span style="padding-left: 3px;">Unit</span>
                    </th>
                    <th>
                        <span style="padding-left: 3px;">Price</span>
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Paracetamol</td>
                    <td>
                        <input style="width:50px;" type="number" [formControl]="qtyControl">
                    </td>
                    <td>
                        <select [formControl]="unitControl">
                    <option>Cartons</option>
                    <option>Packs</option>
                    <option>Bottles</option>
                  </select>
                    </td>
                    <td class="pointer">&#x20A6;200</td>
                    <td><i class="fa fa-times" aria-hidden="true"></i></td>
                </tr>
                <tr>
                    <td>Paracetamol</td>
                    <td>
                        <input style="width:50px;" type="number" [formControl]="qtyControl">
                    </td>
                    <td>
                        <select [formControl]="unitControl">
                    <option>Cartons</option>
                    <option>Packs</option>
                    <option>Bottles</option>
                  </select>
                    </td>
                    <td class="pointer">&#x20A6;200</td>
                    <td><i class="fa fa-times" aria-hidden="true"></i></td>
                </tr>
                <tr>
                    <td>Paracetamol</td>
                    <td>
                        <input style="width:50px;" type="number" [formControl]="qtyControl">
                    </td>
                    <td>
                        <select [formControl]="unitControl">
                    <option>Cartons</option>
                    <option>Packs</option>
                    <option>Bottles</option>
                  </select>
                    </td>
                    <td class="pointer">&#x20A6;200</td>
                    <td><i class="fa fa-times" aria-hidden="true"></i></td>
                </tr>
                <tr>
                    <td>Paracetamol</td>
                    <td>
                        <input style="width:50px;" type="number" [formControl]="qtyControl">
                    </td>
                    <td>
                        <select [formControl]="unitControl">
                    <option>Cartons</option>
                    <option>Packs</option>
                    <option>Bottles</option>
                  </select>
                    </td>
                    <td class="pointer">&#x20A6;200</td>
                    <td><i class="fa fa-times" aria-hidden="true"></i></td>
                </tr>
            </tbody>
        </table>

        <div class="summary-wrap">
            <div class="summary-item">
                <div class="summary-item-label">No. of Items</div>
                <div class="summary-item-val">5</div>
            </div>
            <div class="summary-item">
                <div class="summary-item-label">Total Amount</div>
                <div class="summary-item-val">&#x20A6;5000</div>
            </div>
            <div class="summary-item">
                <div class="summary-item-label">Discount</div>
                <div class="summary-item-val">&#x20A6;300</div>
            </div>
            <div class="summary-item">
                <div class="summary-item-label">Amount Payable</div>
                <div class="summary-item-val-total">&#x20A6;4700</div>
            </div>
        </div>

        <div class="btns">
            <button class="cta-1" style="background:#ff2500;">Cancel</button>
            <button class="cta-1" style="background:#f59f2f;">Discount</button>
            <button routerLink="/dashboard/store/pos-reciept" class="cta-1">Payment</button>
        </div>

        <div class="pos-summary"></div>
    </div>
    <div class="sales-history">
        <div class="pos-title">Last 10 Transactions</div>

        <table cellpadding="0" cellspacing="0" border="0.5">
            <thead>
                <tr>
                    <th>
                        <span style="padding-left: 3px;">Bill Date</span>
                    </th>
                    <th>
                        <span style="padding-left: 3px;">Bill ID</span>
                    </th>
                    <th>
                        <span style="padding-left: 3px;">Status</span>
                    </th>
                    <th>
                        <span style="padding-left: 3px;">Amount</span>
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>12th March, 2018.</td>
                    <td>32231AF</td>
                    <td class="pointer">Fully Paid</td>
                    <td class="pointer">&#x20A6;200</td>
                    <td><i routerLink="/dashboard/store/pos-reciept" class="fa fa-print"></i> </td>
                </tr>
                <tr>
                    <td>12th March, 2018.</td>
                    <td>32231AF</td>
                    <td class="pointer">Fully Paid</td>
                    <td class="pointer">&#x20A6;200</td>
                    <td><i routerLink="/dashboard/store/pos-reciept" class="fa fa-print"></i> </td>
                </tr>
                <tr>
                    <td>12th March, 2018.</td>
                    <td>32231AF</td>
                    <td class="pointer">Fully Paid</td>
                    <td class="pointer">&#x20A6;200</td>
                    <td><i routerLink="/dashboard/store/pos-reciept" class="fa fa-print"></i> </td>
                </tr>
                <tr>
                    <td>12th March, 2018.</td>
                    <td>32231AF</td>
                    <td class="pointer">Fully Paid</td>
                    <td class="pointer">&#x20A6;200</td>
                    <td><i routerLink="/dashboard/store/pos-reciept" class="fa fa-print"></i> </td>
                </tr>
                <tr>
                    <td>12th March, 2018.</td>
                    <td>32231AF</td>
                    <td class="pointer">Fully Paid</td>
                    <td class="pointer">&#x20A6;200</td>
                    <td><i routerLink="/dashboard/store/pos-reciept" class="fa fa-print"></i> </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="addModefierPopup" class="modal-overlay">
    <app-pos-discount (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-pos-discount>
</div>